
      <div class="row">
        <!-- Sposts -->
        <% @spots.each do |spot| %>
          <div class="panel widget">
            <div class="col-lg-4">
              <div class="spots-image">
                <%= link_to image_tag(spot.image.url(:medium)), spot %>
              </div>
            </div>
            <!-- post heading -->
            <div class="col-lg-8">
              <div class="posts-heading panel-heading">
                <h1 class="text-lg">
                    <%= link_to spot.title, spot, {:style => 'color: #243948'} %>
                </h1>
                
                <p class="date">
                  <strong>
                  Submitted <%= time_ago_in_words(spot.created_at) %> a go
                  </strong>
                </p>
              </div>
            

            <div class="panel-body text-md posts-body">
              <span>
                <%= spot.body.truncate(250).html_safe %>
              </span>
              <%#= link_to "READ MORE", spot_path(spot) %><br>
            </div>
          </div>
        </div>
        
        <% end %>
      
      </div>

      <div class="center">
      <%= paginate @spots %>
      </div> 