<% provide(:title, "Spots") %>
<body class="background"></body>

<!-- header -->
<div class="col-lg-11 col-lg-offset-1 col-md-8" style="color: #243948;"> 
  <h1>
    Fishing Spots
  </h1>
  <h3>
    A comprehensive list of New England's top fishing spots. A mix of some of the most vistied inshore and offshore locations to provide background on how to target each area. 
  </h3>
  <!-- border -->
  <div style="border-bottom: 5px solid #243948;"></div><br>
</div>

<!-- spot content -->
<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-1 col-md-9">
      <!-- spots row -->
      <div class="row">
        <!-- Sposts -->
        <% @spots.each do |spot| %>
          <div class="panel widget">
            <div class="col-lg-4">
              <div class="spots-image">
              <%= link_to image_tag(spot.image.url(:medium)), spot %>
              </div>
            </div>
            <!-- post heading -->
            <div class="col-lg-8">
              <div class="posts-heading panel-heading">
                  <h1 class="text-lg">
                    <%= link_to spot.title, spot, {:style => 'color: #243948'} %>

                  </h1>
                  <p class="date">
                    <strong>  
                    Submitted <%= time_ago_in_words(spot.created_at) %> a go
                    </strong>
                  </p>
                <!-- </div> -->
              </div>
              <div class="panel-body text-md posts-body">
                <span>
                  <%= spot.body.truncate(250).html_safe %>
                </span>
                <%#= link_to "READ MORE", spot_path(spot) %><br>
              </div>
            </div>
         </div> 
          <% end %>
        
      </div>
       <div class="center">
      <%= paginate @spots %>
      </div> 

    </div>



    <!-- Aside -->
    <div class="col-lg-3 col-md-3 posts-sidebar">
      <!-- Search-->
      <div class="panel widget bg-inverse-light">
        <div class="panel-body">
            <strong>Search Spots</strong><br>
            <form class="form-horizontal">
                  <%= form_tag spots_path, :method => 'get' do %>
                  <p><%= text_field_tag  :q, params[:q], class: 'form-control'  %></p>
                  <%= submit_tag 'Search', :name => nil, class: "mb-sm btn btn-inverse btn-outline" %>
                  <% end %>
            </form>
        </div>
      </div>

      <!-- Categories-->
      <div class="panel widget bg-inverse-light">
        <div class="panel-body">
          <div class="text-md m0">
            <strong style="text-decoration: underline;">Fishing Locations</strong><br>
            <ul class="list-unstyled" >
                <li><%= link_to "MA Inshore", ma_inshore_path, {:style => 'color: #FFFFFF'} %></li>
                  <li><%= link_to "Gulf of Maine", gulf_of_maine_path, {:style => 'color: #FFFFFF'} %></li>
                  <li><%= link_to "South of Vineyard", south_of_vineyard_path, {:style => 'color: #FFFFFF'} %></li>
                  <li><%= link_to "East of Chatham", east_of_chatham_path, {:style => 'color: #FFFFFF'} %></li>
            </ul>
          </div>
        </div>
      </div>
      <% if current_admin_user %>
        <%= link_to "Add New Spot", new_spot_path, class: "btn btn-danger  btn-lg" %>
      <% end %>    
    </div>
  </div>
</div>

<!-- alerts -->
<div>
  <% flash.each do |name, msg| %>
    <% content_tag(:div, msg, class: "alert") %>
  <% end %>
</div>
