<div id="content" role="main">
  <div class="page-header parallax dark half-largest larger-desc" data-bgattach="<%= image_path('chart5.jpg') %>" data-0="background-position:0% 0%;" data-100="background-position:0% 0%">
    
    <!-- spot header -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Fishing Spots</h1>
          <p class="page-header-desc">A comprehensive list of New England's most targeted inshore and offshore locations.</p>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb">
          </ol>
        </div>
      </div>
    </div> 
  </div><!-- end header -->

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <%= render 'index' %>
      </div>


      <div class="mb60 clearfix visible-sm visible-xs"></div>

      <!-- aside right  -->
      <aside class="col-lg-3 sidebar" role="complementary">
      <div class="widget">
        <div class="panel-body">
            <label class"input-desc">Search Spots</label>
            <form class="form-horizontal">
                  <%= form_tag spots_path, :method => 'get' do %>
                  <p><%= text_field_tag  :q, params[:q], class: 'form-control'  %></p>
                  <%= submit_tag 'Search', :name => nil, class: "btn btn-dark btn-border" %>
                  <% end %>
            </form>
        </div>
      </div> 
        <div class="widget">
          <h3>Fishing Locations</h3>
          <ul class="links">
            <li>
              <i class="fa fa-angle-right">
                <strong>
                  <%= link_to "MA Inshore", ma_inshore_path %>
                </strong>
              </i>
            </li>
            <li>
              <i class="fa fa-angle-right">
                <strong>
                  <%= link_to "Gulf of Maine", gulf_of_maine_path %>
                </strong>
              </i>
            </li>
            <li>
              <i class="fa fa-angle-right">
                <strong>
                  <%= link_to "South of Vineyard", south_of_vineyard_path %>
                </strong>
              </i>
            </li>
            <li>
              <i class="fa fa-angle-right">
                <strong>
                  <%= link_to "East of Chatham", east_of_chatham_path %>
                </strong>
              </i>
            </li>
            <li>
              <i class="fa fa-angle-right">
                <strong>
                  <%= link_to "Boat Ramps", boat_ramps_path %>
                </strong>
              </i>
            </li>
          </ul>
        </div>
        <div class="widget">
          <div class="panel-body">
            <% if current_admin_user %>
            <%= link_to "Add New Spot", new_spot_path, class: "btn btn-dark" %>
            <% end %>  
          </div>
        </div>
      </aside> <!-- aside end -->
    </div>
  </div>
  <div class="sm-margin"></div>
</div>
