<% provide(:title, "South of Vineyard") %>
<body class="background"></body>

<!-- header -->
<div class="col-lg-11 col-lg-offset-1 col-md-8" style="color: #243948;"> 
  <h1>
    South of Vineyard Spots
  </h1>
  <h3>
    The expansive waters south of the Vineyard hold many top fishing locations and access to blue water specifies not seen anywhere else in New England. 
  </h3>
  <!-- border -->
  <div style="border-bottom: 5px solid #243948;"></div><br>
</div>

<!-- spot content -->


<div class="content-wrapper">
  <div class="row">    	  
   	<div class="col-lg-8 col-lg-offset-1 col-md-9">
			<%= render 'static_spots' %>
    </div>
    <!-- Aside -->
    <div class="col-lg-3 col-md-3 posts-sidebar">
      <!-- Search-->
      <div class="panel widget bg-inverse-light">
        <div class="panel-body">
            <strong>Search Spots</strong><br>
            <form class="form-horizontal">
                  <%= form_tag spots_path, :method => 'get' do %>
                  <p><%= text_field_tag  :q, params[:q], class: 'form-control'  %></p>
                  <%= submit_tag 'Search', :name => nil, class: "mb-sm btn btn-inverse btn-outline"  %>
                  <% end %>
            </form>
        </div>
      </div>
      <!-- Categories-->
      <div class="panel widget bg-inverse-light">
        <div class="panel-body">
          <div class="text-md m0">
            <strong>Fishing Locations</strong><br>
            <ul class="list-unstyled" >
                <li><%= link_to "MA Inshore", ma_inshore_path,  {:style => 'color: #FFFFFF'} %></li>
                  <li><%= link_to "Gulf of Maine", gulf_of_maine_path,  {:style => 'color: #FFFFFF'} %></li>
                  <li><%= link_to "South of Vineyard", south_of_vineyard_path,  {:style => 'color: #FFFFFF'} %></li>
                  <li><%= link_to "East of Chatham", east_of_chatham_path,  {:style => 'color: #FFFFFF'} %></li>
                  <li><%= link_to "Boat Ramps", boat_ramps_path,  {:style => 'color: #FFFFFF'} %></li>
            </ul>
          </div>
        </div>
      </div>
      <% if current_admin_user %>
        <%= link_to "Add New Spot", new_spot_path, class: "btn btn-danger  btn-lg" %>
      <% end %>    
    </div>  

  </div>
</div>
