<% provide(:title, "Account Settings") %>
<% nofollow %>
<% noindex %>

<div class="page-header parallax dark half-largest larger-desc" data-bgattach="<%= image_path('boss/backgrounds/index35/bg1.jpg') %>" data-0="background-position:50% 0px;" data-500="background-position:50% -100%">


<div class = "container">
  <div class="row">
      <div class="col-sm-7">
        <div class="form-wrapper">
          <h2 class="title-underblock custom mb40">Update Your Account Info</h2>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <form>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, class: "form-control", autofocus: true %>
                </div>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
                <div class="field">
                  <%= f.label :password %> <i>(Required only to update password)</i><br />
                  <%= f.password_field :password, class: "form-control",  autocomplete: "off" %>
                </div>
                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
                </div>
                <div class="field">
                  <%= f.label :current_password %> <i>(Current password required to make any changes)</i><br />
                  <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
                </div>
                <div class="field">
                  <%= f.label :first_name %><br />
                  <%= f.text_field :first_name, class: "form-control", autofocus: true %>
                </div>
                <div class="field">
                  <%= f.label :last_name %><br />
                  <%= f.text_field :last_name, class: "form-control", autofocus: true %>
                </div>
                <div class="field">
                  <%= f.label :home_port %><br />
                  <%= f.text_field :home_port, class: "form-control", autofocus: true %>
                </div>
                <div class="field">
                  <%= f.label :state_waters %><br />
                  <%= f.select :state_waters, State.visible.pluck(:name), {}, class: "form-control", autofocus: true %>
                </div>
                <div class="field">
                  <%= f.label :vessel_name %><br />
                  <%= f.text_field :vessel_name, class: "form-control", autofocus: true %>
                </div>
                <button type="submit" class="btn btn-block btn-custom">
                  <%= "Update" %>
                </button>
              </form>
            </div>
              <div class="text-center">
                <p> <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class: "btn btn-default" %> </p>
                <p> <%= link_to "Back", :back , class: "btn btn-default" %> </p>
              </div>

            <% end %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">
                <h3 class="mt0">Your Subscriptions</h3>
              </div>
              <hr>
              <ul class="list-unstyled ph-xl">
                 <li>
                    <em class="fa fa-credit-card fa-fw mr-lg"></em><a href="#"><%= link_to "View My Subscription", my_account_path %></a>
                 </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
