<title>Account Settings</title>
<style>
  body {
      /*background-image: url(/assets/moon.png);*/
      /*background-repeat: repeat-x;*/
    } 
      .panel-heading {
      background-color: #88888F !important;
      padding-left: 40px !important;
    }
     .panel-body {
     line-height: 2.0 !important;
    }
    .btn-block {
      background-color: #88888F !important;
      color: white;
    }
    .panel-inverse {
      border: 1px solid;

    }
    /*flash*/
  .alert-error {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: left;
   }

  .alert-alert {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: left;
   }

  .alert-success {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
      text-align: left;
   }

  .alert-notice {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
      text-align: left;
   }
</style>
  
<div class = "container">
  <div class="row">
    <div class="content-wrapper">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="panel panel-default">     
          <div class="panel panel-inverse panel-flat">

            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-3">
                  <a href="#">
                    <%= image_tag 'map_theme/tuna.png',  class: 'img-responsive', style: 'height: 50px;' %>
                  </a>
                </div>
                <div class="col-lg-9">
                  <h2>Edit <%= current_user.vessel_name %>
                  </h2>
                </div>    
            </div>
          </div>



            </div>  

          <div class="panel-body"> 
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <form>    
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "form-control", autofocus: true %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, class: "form-control",  autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
              </div>


              <div class="field">
                <%= f.label :first_name %><br />
                <%= f.text_field :first_name, class: "form-control", autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :last_name %><br />
                <%= f.text_field :last_name, class: "form-control", autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :home_port %><br />
                <%= f.text_field :home_port, class: "form-control", autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :state %><br />
                <%= f.text_field :state, class: "form-control", autofocus: true %>
              </div>

               <div class="field">
                <%= f.label :vessel_name %><br />
                <%= f.text_field :vessel_name, class: "form-control", autofocus: true %>
              </div>

              <button type="submit" class="btn btn-block btn-inverse mt-lg">
                <%= "Update" %>
              </button>
          
            </form>
          </div>  

          <div class="panel-footer">
            <div class="text-center">
            <p> <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %> </p>
            <p> <%= link_to "Back", :back %> </p>
          </div> 
        </div>
  <% end %>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
