<% unless (invoice.total == 0 || invoice.subscription != current_user.subscription_id) %>
  <tr>
    <td><%= link_to invoice.number, invoice_path(invoice.id) %></td>
    <td><%= invoice.date %></td>
    <td><%= number_to_currency(invoice.total/100, negative_format: "(%u%n)") %></td>
    <td><%= invoice.period_start %> to <%= invoice.period_end %></td>
    <td><%= invoice.paid == true ? 'Paid' : 'Unpaid' %></td>
  </tr>
<% end %>
