<%= form_for(@buzz) do |f| %>



  <% if @buzz.errors.any? %>
    <div class="container">
      <div class="alert alert-danger">
        <h2><%= pluralize(@buzz.errors.count, "error") %> prohibited this buzz from being saved:</h2>

        <ul>
        <% @buzz.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


<form id="example-form">
  <div class="content clearfix">
    <div role="application" class="wizard clearfix" id="steps-uid-0">
      
      <%#= f.label :post %>Post real time breaking news here.  Share eyewitness accounts and real time intel from on the water.  Blitzs, hot activity or other news.

      <%= f.text_area :post, class:"form-control wysiwyg mt-lg" %>
  
    </div>
  <br>
  <div class="actions" novalidate="novalidate">
    <%= f.submit class: "btn btn-inverse btn-md" %>
  </div>
    <% end %>
</div>



