<title>Buzz</title>

<p id="notice"><%= notice %></p>

 <div class="content-wrapper">
  <div class="row">
     <div class="col-md-4">
        <div class="panel panel-default">
           <div class="panel-body text-center">
              <div class="pv-lg">
                <h1>Buzz</h1>
                <h2>Real Time Intel</h2>
                
                <div class="media">
                  <div class="media-left">
                    <div class="media-body">

                <table>
                  <thead>
                    <tr>
                      <th>Post</th>
                      <th>User</th>
                      <th>Vessel</th>
                      <th>Port</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @buzzs.each do |buzz| %>
                    <tr>
                    <td><%= buzz.post %></td>
                    <td><%= buzz.user %></td>
                    <td><%= buzz.user.try(:vessel_name) %></td>
                    <td><%= buzz.user.try(:home_port) %></td>
                    <td><%= link_to 'Show', buzz %></td>
                    <td><%= link_to 'Edit', edit_buzz_path(buzz) %></td>
                    <td><%= link_to 'Destroy', buzz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                  <br>
                  <%= link_to 'New Buzz', new_buzz_path %>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
