<style>
  .b {
    border-right: 1px solid rgba(0, 0, 0, 0.50);
    border-left: 1px solid rgba(0, 0, 0, 0.50);
    border-top: 1px solid rgba(0, 0, 0, 0.50);
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
  }
  .alert-error {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: center;
      font-size: 25px !important;
      padding: 0px !important;
      margin-bottom: 0px !important;
      border-radius: 2px 2px 0 0;
   }

  .alert-alert {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: center;
      font-size: 25px !important;
      padding: 0px !important;
      margin-bottom: 0px !important;
      border-radius: 2px 2px 0 0;
   }

  .alert-success {
      background-color: #88888F;
      border-color: #5F5E63;
      color: #FFFFFF;
      text-align: center;
      font-size: 25px !important;
      padding: 0px !important;
      margin-bottom: 0px !important;
      border-radius: 2px 2px 0 0;
   }

  .alert-notice {
      background-color: #88888F;
      border-color: #5F5E63;
      color: #FFFFFF;
      text-align: center;
      font-size: 25px !important;
      padding: 0px !important;
      margin-bottom: 0px !important;
      border-radius: 2px 2px 0 0;
   }
     .container {
      margin-left: 0px !important;
      margin-right: 0px !important;
      padding-right: 0px !important;
      padding-left: 0px !important;
      width: auto !important;
   }
   .h3 {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    font-weight: bold;
   }
</style>


<title>Buzz</title>
<%= image_tag 'harbor2.jpg',  class: 'img-responsive', style: 'display:block; opacity: .55' %>

  

  <div id="table-container">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-3">
          <div class="p-lg text-center">
            <%= link_to 'Create New Post', new_buzz_path, class: "btn btn-inverse btn-lg" %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel b m0">
            <div class="panel-body text-center">
              <div class="panel-body bg-info-dark">
                <ul><h1>Channel 68</h1></ul>
                <ul><h3>Real time buzz from on the water</h3></ul>
              </div>        
              <div <div class="table-responsive">              
                <span class="text-left">    
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Post</th>
                        <th>Vessel</th>
                        <th>Port</th>

                      </tr>
                    </thead>
                 
                      <tbody>  
                      <% @buzzs.each do |buzz| %>
                      <tr>
                        <td> <%= buzz.created_at.try(:strftime, '%m/%d/%y %r') %> 
                        </td>
                        <td class="wd-td1"><%= buzz.post %></td>
                        <td><%= buzz.user.try(:vessel_name) %></td>
                        <td><%= buzz.user.try(:home_port) %></td>
                      </tr>
                        <% end %>
                    </tbody>
                  </table>
                 </span> 
              </div>
              <div class="p-lg text-center">
                <%= link_to 'New Post', new_buzz_path, class: "btn btn-inverse btn-lg" %>
              </div>          
              <div class="p-lg text-center">
              <%= link_to "Buzz", new_buzz_path, class: "btn btn-inverse btn-lg" %>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-lg-3">

        </div>
      </div>
    </div>
  </div>


 