<title>Buzz</title>
<%= image_tag 'harbor2.jpg',  class: 'img-responsive', style: 'display:block; opacity: .55' %><p id="notice"><%= notice %></p>

  

  <div id="table-container">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-6">
          <div class="panel b m0">
            <div class="panel-body text-center">
              <div class="panel-body bg-info-dark">
                <ul><h1>Channel Talk</h1></ul>
                <ul><h2>Real Time Intel</h2></ul>
              </div>        
              <div <div class="table-responsive">              
                <span class="pull-center">    
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Post</th>
                        <th>User</th>
                        <th>Vessel</th>
                        <th>Port</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                 
                      <tbody>  
                      <% @buzzs.each do |buzz| %>
                      <tr>

                        <td class="wd-td1"><%= buzz.post %></td>
                        <td><%= buzz.user.try(:vessel_name) %></td>
                        <td><%= buzz.user.try(:home_port) %></td>
                        <td><%= buzz.user.try(:first_name) %><%= buzz.user.try(:last_name) %></td>
                        <td><%= link_to 'Edit', edit_buzz_path(buzz) %></td>
                        <td><%= link_to 'Delete', buzz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                        <% end %>
                    </tbody>
                  </table>
                 </span> 
              </div>
              <div class="p-lg text-center">
                <%= link_to 'New Post', new_buzz_path, class: "btn btn-inverse btn-lg" %>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>


 