  <title>Heat Charts</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 80%;
        width: 100%;
      }
    </style>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">Current Heat Map</div>
              <div class="panel-body">
                <div style="height:700px; width: 1000px;">
                  <div id="map">
                    <p id="notice"><%= notice %></p>
                  </div>
                </div> 
            </div>
          </div>
        </div>
     </div>
    </div> 


    <div style="height:700px; width: 1000px;">
      <div id="map">
        <p id="notice"><%= notice %></p>
      </div>
    </div>

    
    <script>
        var map;
        var infoWindow;
          
      
          
        // Map Display options
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: {lat: 42.05, lng: -70.25},
            mapTypeId: google.maps.MapTypeId.SATELLITE
          });





          // Define the LatLng coordinates for the polygon.
          <% @locations.each do |location| %>
            var <%= location.short_name.parameterize.underscore %> = <%= location.coordinates.to_json.gsub!(/\"/,'').html_safe %>;




            // Construct the polygon.
            var <%= location.short_name.parameterize.underscore %>_billsPollygon = new google.maps.Polygon({
              paths: <%= location.short_name.parameterize.underscore %>,
              strokeColor: '#F7F8FF',
              strokeOpacity: 0.8,
              strokeWeight: 1,
              fillColor: '<%= location.color %>',
              fillOpacity: 0.45
            });

            
            // Get geo location of user to pass to map initialization
            function initialise (geo){
                console.log(geo);
            }   
            
            $(document).ready(function(){
              navigator.geolocation.getCurrentPosition(initialise); 
            });

            // Replace center with below for geo location centering
            // center: {geo.coords.latitude, geo.coords.longitude},


            // Polygons
            polygons = <%= location.short_name.parameterize.underscore %>_billsPollygon.setMap(map);


            

            // Add a listener for the click event.
            <%= location.short_name.parameterize.underscore %>_billsPollygon.addListener('click', 

              // 
              function (event) {
                console.log(location_reports);
                var location_reports = <%= location.short_name.parameterize.underscore %>;
               
                // Not sure if this is needed
                // var vertices = this.getPath();  
                

                var contentString = '<%= j render 'layouts/map_click_popup', location: location %>';            
                  
                // Add Lat Long display to info box , add to contentString      
                // + event.latLng.lat() + ',' + event.latLng.lng() +

                // Replace the info window's content and position.
                infoWindow.setContent(contentString);
                infoWindow.setPosition(event.latLng);
                infoWindow.open(map);
                }
              
              // showArrays
              );
          <% end %>
          infoWindow = new google.maps.InfoWindow;
        }




    </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRhKrHEYhZA2Qg5fagbEKaUItVsB-cQ3g&callback=initMap">
      </script>




