<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 80%;
    width: 100%;
  }
  #locdetails {
    position: absolute;
    right: 600px;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    z-index: 5;
    box-shadow: rgb(51, 51, 51) 0px 4px 6px -4px;
    padding: 5px 10px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
    border: rgb(229, 229, 229) 1px solid;
    margin-top: 50px;
  }
  .hoverclass{
    display: inline-block;
    margin: 5px;
  }
  .gm-style-iw {
   width: 534px !important;
   top: 15px !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 10px 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

</style>

<div class="content-wrapper">
  <div class="content-heading">
    <h2>HeatMaps - Real Time Intel</h2>   <br />
    <b> View Species</b> 
    <%= form_tag species_filter_path, id: 'species_form' do %>
      <select name="species" class="form-control m-b" id="species_select">
        <option value="Any">Any</option>
        <% all_species.each do |species| %>
          <option value="<%= species.html_safe %>"><%= species %></option>
        <% end %>
      </select>
    <% end %> 
  </div>
  <div id="locdetails" style="display:none;">
    <p>Test</p>
  </div> 
<div class="row">
  <div class="col-md-">        
    <div class="panel panel-default">
      <div class="panel-heading"></div>
        <div class="panel-body">
          <div style="height:700px; width: 1350px;">
            <div id="map" class="gmap">
              <p id="notice"><%= notice %></p>
            </div> 
          </div>
        </div>
      </div> 
    </div>     
  </div> 
</div> 


<script>

  var map;
  var infoWindow;       
      
    // Map Display options
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 9,
        center: {lat: 42.05, lng: -70.25},
        mapTypeId: google.maps.MapTypeId.SATELLITE
      });
      var polygons = [];
      $.ajax({
          url: '<%= species_filter_path %>',
          type: "get", //send it through get method
          data:{target_species:$('#species_select').val()},
          success: function(response) {
            //Do Something
            console.log(response);
            for (var i = 0; i < response.length ; i++) {
              polygons.push(new google.maps.Polygon({
              paths: response[i].cfile,
              strokeColor: '#F7F8FF',
              strokeOpacity: 0.8,
              strokeWeight: 1,
              fillColor: response[i].color,
              fillOpacity: 0.45,
              editable: false,  
              map: map,
              loc: response[i].location,
              rep: response[i].reports,
              mavg: response[i].movingavg
            }));
              polygons[polygons.length-1].setMap(map);
              var p = polygons[i];
               google.maps.event.addListener(p, 'click', function (event) {
                console.log(this);
        // console.log(location_reports);               
         var contentString = '<table><thead><tr><th>Date</th><th>Target Species</th><th>Vessel Name</th><th>Primary Method</th><th>Catch Total</th><th>Trip Summary</th></tr></thead><tbody><b>' + this.loc.short_name +'</b> <br>' + this.loc.long_name +'<br> <br>';
         for(var j=0;j<this.rep.length; j++){
          contentString += '<tr><td>' +this.rep[j].rep.date + '</td> <td>' +this.rep[j].rep.target_species + '</td><td>' +this.rep[j].vessel_name + '</td><td>' +this.rep[j].rep.primary_method + '</td><td>' +this.rep[j].rep.catch_total + '</td><td>' +this.rep[j].rep.trip_summary + '</td></tr>';
         };
         contentString +='</tbody></table>';
        // Replace the info window's content and position.
        infoWindow = new google.maps.InfoWindow;
        infoWindow.setContent(contentString);
        infoWindow.setPosition(event.latLng);
        google.maps.event.addListener(infoWindow, 'domready', function() {

         // Reference to the DIV which receives the contents of the infowindow using jQuery
         var iwOuter = $('.gm-style-iw');

         /* The DIV we want to change is above the .gm-style-iw DIV.
          * So, we use jQuery and create a iwBackground variable,
          * and took advantage of the existing reference to .gm-style-iw for the previous DIV with .prev().
          */
         var iwBackground = iwOuter.prev();

         // Remove the background shadow DIV
         iwBackground.children(':nth-child(2)').css({'display' : 'none'});

         // Remove the white background DIV
         iwBackground.children(':nth-child(4)').css({'display' : 'none'});
         iwOuter.parent().parent().css({left: '115px'});
         iwBackground.children(':nth-child(1)').attr('style', function(i,s){ return s + 'left: 76px !important;'});
         iwBackground.children(':nth-child(3)').attr('style', function(i,s){ return s + 'left: 155px !important;' + 'top: 114px !important'});
         iwBackground.children(':nth-child(3)').find('div').children().css({'box-shadow': 'rgba(72, 181, 233, 0.6) 0px 1px 6px', 'z-index' : '1'});


         var iwCloseBtn = iwOuter.next();

          // Apply the desired effect to the close button
          iwCloseBtn.css({
            opacity: '1', // by default the close button has an opacity of 0.7
            right: '44px', top: '8px', // button repositioning
            // border: '7px solid #48b5e9', // increasing button border and new color
            'border-radius': '13px', // circular effect
            'box-shadow': '0 0 5px #3990B9' // 3D effect to highlight the button
            });

          // The API automatically applies 0.7 opacity to the button after the mouseout event.
          // This function reverses this event to the desired value.
          iwCloseBtn.mouseout(function(){
            $(this).css({opacity: '1'});
          });

          });
        infoWindow.open(map);

              }); 
        
              google.maps.event.addListener(p, 'mouseover',function (event){
                $("#locdetails").css("display", "block");
                $( "#locdetails" ).append( "<div class='hoverclass'>"+ this.loc.short_name +"</div>" +"<div class='hoverclass'>" + this.mavg +  "</div>"+"<div class='hoverclass'>" + this.rep.length +  "</div>" );
                map.data.revertStyle();
        this.setOptions({
          strokeColor: '#F7F8FF',
          strokeWeight: 3 ,
          fillOpacity: 0.75
            });
              });
              google.maps.event.addListener(p, 'mouseout',function (event){
                $("#locdetails").css("display", "none");
                $( "#locdetails" ).empty();
              map.data.revertStyle();
          this.setOptions({
              strokeColor: '#F7F8FF',
            strokeOpacity: 0.8,
            strokeWeight: 1,
            fillOpacity: 0.45,
          });
              });
            };

          },
          error: function(xhr) {
            //Do Something to handle error
          }
        });
    

 }


 $('#species_select').change(function(){
initMap();
infoWindow.close();

  // $.get(
  //   '<%= species_filter_path %>',
  //   $('#species_select').val(),
  //   function(data){
  //     console.log(map);
  //     console.log($('#species_select').val());
  //     infoWindow.close();
  //     // map.fitBounds(bounds);
  //   }
  // );

});
</script>
      
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRhKrHEYhZA2Qg5fagbEKaUItVsB-cQ3g&callback=initMap">
</script>




