<title>Heat Charts</title>
<head>
<style>
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
    #map {
    height: 80%;
    width: 100%;
    }
  </style>
</head>
   
     <div class="content-wrapper">
      <h2>HeatMaps - Real Time Intel</h2>   <br />
      <%= form_tag species_filter_path, id: 'species_form' do %>
          <select name="species" class="form-control m-b" id="species_select">
            <% all_species.each do |species| %>
             <option value="<%= species.html_safe %>"><%= species %></option>
            <% end %>
          </select>

      <% end %>   
    <div class="row">
    <div class="col-md-">

    <div class="panel panel-default">
      <div class="panel-heading">
        </div>
        <div class="panel-body">
          <div style="height:700px; width: 1350px;">
            <div id="map" class="gmap">
              <p id="notice"><%= notice %></p>
            </div> 
          </div>
        </div>
      </div> 
    </div>     
 </div> 
</div> 
</div>

<script>



$('#species_select').change(function(){
  $.get('<%= species_filter_path %>', $('#species_select').val(), function(data){

    console.log(data);
  });

});
  



  var map;
  var infoWindow;

        
      
    // Map Display options
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 9,
        center: {lat: 42.05, lng: -70.25},
        mapTypeId: google.maps.MapTypeId.SATELLITE
      });



      // Define the LatLng coordinates for the polygon.
      <% Location.all.each do |location| %> 
     
      var <%= location.short_name.parameterize.underscore %> = <%= one_locations_json(location).html_safe %>;

      // Construct the polygon.
      var <%= location.short_name.parameterize.underscore %>_billsPollygon = new google.maps.Polygon({
        paths: <%= location.short_name.parameterize.underscore %>,
        strokeColor: '#F7F8FF',
        strokeOpacity: 0.8,
        strokeWeight: 1,
        fillColor: '<%= location.color %>',
        fillOpacity: 0.45,
        editable: false,  
        map: map
      });

      // Add a listener for the click event.
      <%= location.short_name.parameterize.underscore %>_billsPollygon.addListener('click',

      // Set info window content to location report
      function (event) {
      console.log(location_reports);
      var location_reports = <%= location.short_name.parameterize.underscore %>;
             

      var contentString = '<%= j render 'layouts/map_click_popup', location: location %>';            

      // Replace the info window's content and position.
      infoWindow.setContent(contentString);
      infoWindow.setPosition(event.latLng);
      infoWindow.open(map);
      }
          
        // showArrays
      );

      <% end %>


      infoWindow = new google.maps.InfoWindow;
     


      // Get geo location of user to pass to map initialization
      // function initialise (geo){
      //     console.log(geo);
      // }   

      // $(document).ready(function(){
      //   navigator.geolocation.getCurrentPosition(initialise); 
      // });

      <% Location.all.each do |location| %> 

      <%= location.short_name.parameterize.underscore %>_billsPollygon.addListener('mouseover', function (event) {
        // Within the event listener, "this" refers to the polygon which
        // received the event.
        
        map.data.revertStyle();
        this.setOptions({
          strokeColor: '#F7F8FF',
          strokeWeight: 3 ,
          fillOpacity: 0.75
            });
        });

      <%= location.short_name.parameterize.underscore %>_billsPollygon.addListener('mouseover', function (event) {
          // Within the event listener, "this" refers to the polygon which
          // received the event.
          console.log(location_reports);
            var location_reports = <%= location.short_name.parameterize.underscore %>;
            var contentString = '<%= location.short_name %>';
            infoWindow.setContent(contentString);
            infoWindow.setPosition(event.latLng);
            infoWindow.open(map);   
            google.maps.event.addListener(map, 'mousemove', function(){
            infoWindow.close();
          });

        });


      <%= location.short_name.parameterize.underscore %>_billsPollygon.addListener('mouseout', function (event) {
          infoWindow.close(map);
          map.data.revertStyle();
          this.setOptions({
              strokeColor: '#F7F8FF',
            strokeOpacity: 0.8,
            strokeWeight: 1,
            fillOpacity: 0.45,
          });
      });

 

  <% end %>
 }
</script>
      
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRhKrHEYhZA2Qg5fagbEKaUItVsB-cQ3g&callback=initMap">
</script>




