<% provide(:title, "Heat Map") %>
<%= stylesheet_link_tag params[:controller] %>
  

<div class="content-wrapper">
    
      <!-- heading -->
    <div class="row">
      <br>
      
      <!-- title panel -->
      <div class="col-lg-7"> 
        <div class="text-center">
          <h1 style="font-size: 55px; ">HeatMap<small> - Fresh Intel</small></h1>
        </div>
      </div> 
      
      <!-- filter panel -->
      <div class="col-lg-5">
        <div class="panel panel-default">
          <div class="panel-body" style="background-color: #edf1f2">
            <h4>Filter Heatmap by target species or location</h4>
            <div class="row">
              <div class="col-lg-6">  
                  <%= form_for(:species_filter) do |f| %>
                  <%= f.label :species %>
                  <%= f.select :species, all_species.map{ |species| [species.name, species.id] }, { prompt: "Select Species" }, class: "form-control m-b", style: "width: 100% !important", id: "species_select" %>
                  <% end %>
              </div>
      
              <div class="col-lg-6">
                <%= form_for(:states_filter) do |f| %>
                <%= f.label :location %>
                <%= f.select :state, State.sorted.pluck(:name), { selected: current_user.state.name }, class: "form-control m-b", id: "state_select", style: "width: 100% !important" %>
                <% end %>
              </div>
            </div>

        </div>
      </div>    
    </div>

    <br>
  
    <div id="locdetails" style="display:none;">
    </div>

    <div style="height: 900px; width: 100%;">
      <div id="map" class="gmap">
      </div>
    </div>

</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_map_api_key"]%>&callback=initMap"></script>
