<head>
  <%= display_meta_tags  %>
  <script type="application/ld+json">
  </script>
</head>


<div id="content" role="main"></div>  


<div class="page-header parallax dark half-largest larger-desc" data-bgattach="<%= image_path('boss/backgrounds/index35/bg1.jpg') %>" data-0="background-position:50% 0px;" data-500="background-position:50% -100%">

    <!-- maps header -->
  <div class="page-header" style="border-bottom: none; margin-bottom: 2px;">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="title-border custom" style="font-size: 45px;">HeatMap</h1>
          <p class="page-header-desc" style="padding-left: 35px;">Network catch activity view of past 7 days.  Areas of significant catch increases are highlighted.</p>
        </div>
        <!-- search widget  -->
        <div class="col-md-5 bg-lightgray">
          <div class="widget ">
            <div class="panel-body pull-right">
              <!-- filter panel -->
              <div class="col-lg-12 ">
                <h4>Filter Heatmap by target species or location</h4>
                <div class="row">
                  <div class="col-lg-6">  
                      <%= form_for(:species_filter) do |f| %>
                      <%= f.label :species %>
                      <%= f.select :species, all_species.map{ |species| [species.name, species.id] }, { prompt: "Select Species" }, class: "form-control",  id: "species_select", style: "width: 100% !important" %>
                      <% end %>
                  </div>
          
                  <div class="col-lg-6">
                    <%= form_for(:states_filter) do |f| %>
                    <%= f.label :location %>
                    <%= f.select :state, State.sorted.pluck(:name), { selected: current_user.state.name }, class: "form-control m-b", id: "state_select", style: "width: 100% !important" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>  
          </div> <!-- end widget -->
        </div> <!-- end filter widget -->
      </div> <!-- end row -->
      <%= render 'heatmap_legend' %>
    </div> <!-- end container -->
  </div>  <!-- end maps header -->


<div >
  <br>
  <div id="locdetails" style="display:none;">
  </div>
  <!-- map -->
  <div style="height: 900px; width: 100%;">
    <div id="map" class="gmap">
    </div>
  </div> <!-- end map -->
</div>

</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_map_api_key"]%>&callback=initMap"></script>
