<head>
  <%= display_meta_tags  %>
  <script type="application/ld+json">  
  </script>
</head>
<div id="content" role="main">
  <!-- <div class="page&#45;header larger larger&#45;desc"> -->
  <div class="page-header dark parallax half-largest larger-desc" data-bgattach="<%= image_path('boss/backgrounds/index35/bg1.jpg') %>" style="" data-0="background-position:50% 0px;" data-500="background-position:50% -50%">
    
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 style="font-size: 55px !important;">Intel</h1>
          <p class="page-header-desc" style="font-size: 25px !important; " >Check out current intel from around the network</p>
        </div>
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <%= render 'index' %>
      </div>
      <!-- End .col-md-9 -->
      <div class="mb60 clearfix visible-sm visible-xs"></div>
      <!-- space -->
      <!-- aside search box -->
      <aside class="col-md-3 sidebar" role="complementary">
        <div class="widget">
          <h3>Search Intels</h3>
            <form class="form-horizontal">
                  <%= form_tag intels_path, :method => 'get' do %>
                  <p><%= text_field_tag  :q, params[:q], class: 'form-control'   %></p>
                  <%= submit_tag 'Search', :name => nil, class: "btn btn-dark btn-lg"  %>
                  <% end %>
            </form>
        </div>
        <!-- admin new button -->
        <div class="widget">
          <% if current_admin_user %>
          <%= link_to 'New Intel', new_intel_path, class: "btn btn-custom btn-lg" %>
          <% end %>
        </div>      
      </aside>


      <!-- End .col-md-3 -->
    </div>
    <!-- End .row -->
  </div>
  <!-- End .container -->
  <div class="mb20 hidden-xs hidden-sm"></div>
  <!-- space -->
</div>
<!-- End #content -->
