<% provide(:title, "Spotter") %>
<%= image_tag 'harbor2.jpg',  class: 'img-responsive hidden-xs', style: 'display:repeat; opacity: .55' %>

<div class="col-lg-11 col-lg-offset-1 col-md-8" style="color: #243948;padding-left: 0px;"> 
  <h1>
    Spotter Plane Reports
  </h1>
  <h3>
    Weekly spotter reports from our network of pilots.
  </h3>
  <!-- border -->
  <div style="border-bottom: 5px solid #243948;"></div><br>
</div>




<div class="content-wrapper">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-1 col-md-9">
			<div class="row">
				<% @intels.each do |intel| %>
				<div class="panel panel-default">
					<div class="posts-heading panel-heading">
						<div class="bb">
							<h1 class="mv-lg" style="color: #243948">
								<%= intel.title %>
							</h1>
						</div>
					</div>
					<div class="panel-body text-md posts-body">
					<span>
						<%= intel.body.html_safe %>
					</span>
					</div>	
				</div>
				<% end %>
		</div>	
	  <div class="center">
        <% unless @intels.empty? %>  
	  	<%= paginate @intels %>
        <% end %>
	  </div>
	</div>
  <div class="col-lg-3 col-md-3 posts-sidebar">
    <!-- Search-->
    <div class="panel widget bg-inverse-light">
      <div class="panel-body">
          <strong>Search Intel</strong><br>
          <form class="form-horizontal">
                <%= form_tag intels_path, :method => 'get' do %>
                <p><%= text_field_tag  :q, params[:q], class: 'form-control'  %></p>
                <%= submit_tag 'Search', :name => nil, class: "mb-sm btn btn-inverse btn-outline"  %>
                <% end %>
          </form>
      </div>
    </div>
    <!-- Categories-->
    <% if current_admin_user %>
    <%= link_to 'New Intel', new_intel_path, class: "btn btn-danger btn-lg" %>
    <% end %>
  </div>
 </div>