<% provide(:title, "Password Reset") %>
<% nofollow %>
<% noindex %>

<div id="login-section" class="fullheight">
  <div class="vcenter-container">
    <div class="vcenter">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-push-3 col-lg-4 col-lg-push-4">
            <div class="mb100"></div>
            <!-- header image -->
            <h1 class="logo text-center">
                <a href="index.html" title="Boss - Multipurpose Premium Html5 Template">
                    <img src="<%= image_path('currentslogoblack.png')%>"  alt="Logo" style="height: 75px;">
                </a>
            </h1> <!-- end header image -->
            <div class="form-wrapper"><h3>Forgot your password?</h3>
              <div class="panel-body">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %>
                <div class="field">
                  <%= f.label :email, "Enter Email" %><br />
                  <%= f.email_field :email, class: "form-control", autofocus: true, required: true %>
                </div>
                  <div class="actions">
                    <%= f.submit "Send me password reset", class: "btn btn-block btn-custom" %>
                  </div>
                </div>
                  <% end %>
              <div class="form-group text-right">
                <a href="recover-password.html" class="add-tooltip" data-placement="top" title="Recover your password">
                <%= render "devise/shared/links" %>
                </a>
              </div>
            </div><!-- End .form-wrapper -->
          </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .vcenter -->
  </div><!-- End .vcenter-container -->
</div><!-- End .fullheight -->
