<style>
  .panel-heading {
    background-color: #88888F !important;
    padding-left: 40px !important;
  }
  .btn-block {
    background-color: #88888F !important;
    color: white;
  }
  .panel-inverse {
    border: 1px solid;

  }
  .form-control {
    background-color: white !important;

  }
  /*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
</style>
<div class = "container">
	<div class="row">
   	<div class="content-wrapper">
     	<div class="col-sm-4">
        <div class="panel panel-default">     
          <div class="panel bg-inverse">
						<h2>Forgot your password?</h2>
					</div>		

					<div class="panel-body">  
						<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
						  <%= devise_error_messages! %>
						  <form>
						  <div class="field">
						    <%= f.label :email %><br />
						    <%= f.email_field :email, autofocus: true %>
						  </div>

						  <button type="submit" class="btn btn-block btn-inverse mt-lg">
						    <%= "Send me reset password instructions" %>
						  </button>
						<% end %>
							</form>
					</div>

					<div class="panel-footer">
						<%= render "devise/shared/links" %>
					</div>		

       </div>
      </div>
    </div>
  </div>
</div>