<div id="content" role="main">
  <div class="page-header parallax dark half-largest larger-desc" data-bgattach="<%= image_path('boss/backgrounds/index35/bgsm1.jpg') %>" data-0="background-position:50% 0px;" data-500="background-position:50% 100%">
  </div>
  <!-- End .page-header -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <article class="entry single">
          <span class="entry-date">
            <%= @spot.created_at.day %>
            <span>
              <%= @spot.created_at.strftime('%b') %>
            </span>
          </span>
          
          <h2 class="entry-title"><%= @spot.title %></h2>          

          <span class="entry-format">
            <i class="fa fa-map"></i>
          </span> 
          
          <!-- image span -->
          <div class="entry-media">
            <figure>
              <%= link_to image_tag(@spot.image.url), spot_path(@spot) %>
            </figure>
          </div>

          

    
          <div class="entry-content">
            <%= @spot.body.html_safe %>
          </div>
          <!-- End .entry-content -->
          
          <footer class="entry-footer clearfix">
            <span class="entry-cats">
              <span class="entry-label"><i class="fa fa-tag"></i>Categories: <%= raw "| Tags: " + @spot.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') if @spot.tags.exists? %>
              </span><!-- End .entry-tags -->
              <span class="entry-separator">/</span>
              <a href="#" class="entry-comments">10 Comments</a>
              <span class="entry-separator">/</span>
              by <a href="#" class="entry-author">Currents Staff</a>
              <span class="entry-separator">/</span>
                <% if current_admin_user %>
                  <%= link_to 'Edit', edit_spot_path(@spot) %>
                  / <%= link_to 'Delete', spot_path(@spot), method: :delete, data: { confirm: 'Are you sure?'} %>
                <% end %> 
              </span>
          </footer>
                 <%= link_to 'Back to Spots', spots_path, class: "btn btn-dark" %>
        </article>
          

          
        </div>

      </div>

    </div>

    <div class="mb20"></div>

  </div>
