<% provide(:title, "Log In") %>
<style>
  .panel-heading {
    background-color: #88888F !important;
    padding-left: 40px !important;
  }
  .btn-block {
    background-color: #88888F !important;
    color: white;
  }
  .panel-inverse {
    border: 1px solid;

  }
  .form-control {


  }
  /*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
</style>

   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="wrapper"> 
  <div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-inverse panel-flat">
      <div class="panel-heading">
        <div class="row">
          <div class="col-lg-4">
            <a href="#">
               <%= image_tag 'map_theme/tuna.png',  class: 'img-responsive', style: 'height: 46px;' %>
            </a>
          </div>
          <div class="col-lg-6">
              <h4>
               Log In
              </h4>
          </div>
        </div> 
      </div> 
	<%= devise_error_messages! %>
	    <% flash.each do |key, value| %>
	       <div class="flash <%= key %>"><%= value %></div>
	    <% end %>
      <div class="panel-body">

              <!-- Email input  -->
          <div class="form-group has-feedback">            
              <%= f.label :email %><br />
              <%= f.email_field :email, class: "form-control", autofocus: true, required: true %>
          </div>  
            <!-- password input -->
          <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, class: "form-control", autocomplete: "on", required: true %>
          </div>
            <!-- remember me box -->
          <div class="field">         
            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
          </div>

            <!-- Submit button -->
            <p>
              <button type="submit" class="btn btn-block mt-lg">
                <%= "Submit" %>
              </button>
                  <% end -%>
            </p>  
      </div>
      
       <!-- footer links -->
      <div class="panel-footer">
      
        <p class="MO">
          <ul><%= render "devise/shared/links" %></ul>
        </p>
      </div>
      

      <!-- </div> -->
         <!-- </div> -->
         <!-- END panel-->
         <!-- <div class="p-lg text-center"> -->
            <!-- <span>&copy;</span> -->
            <!-- <span>2016</span> -->
            <!-- <span>-</span> -->
            <!-- <span>Currents</span> -->
            <!-- <br> -->
            <!-- <span>Network</span> -->
         <!-- </div> -->
      <!-- </div> -->
   </div>
<% end %>




