<body>

   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

   <div class="wrapper">
      <div class="block-center mt-xl wd-xl">
         <!-- START panel-->
         <div class="panel panel-inverse panel-flat">
            <div class="panel-heading text-center">
               <a href="#">
                  <img src="/assets/map_theme/tuna.png" alt="App Logo" class="block-center img-rounded" style="height: 55px">
               </a>
            </div>
            <div class="panel-body">
               <p class="text-center">
                <% puts "the resource is #{resource.inspect}\n and the errors are #{resource.errors.inspect} ".red %>
                   <% resource.errors.each do |message| %>
                   <% puts "the resource is #{resource.inspect}\n and the message is #{message}".red %>
    <%= message %>
   <% end %>

               </p>
               <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
                
               
                  <div class="form-group has-feedback">
                 <!--  <input id="exampleInputEmail1" type="email" placeholder= "Enter email" autocomplete="off" required class="form-control"> -->
                    <p class="text-center">

                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true %>
                   
                 
                  </div>

                    </p>

                  


                  <div class="field">
                    <p class="text-center">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  
                  </p>
                  <button type="submit" class="btn btn-block btn-inverse mt-lg">
                    <%= "Log in" %>
                  </button>


                  <% end -%>
<!-- 
                  <div class="form-group has-feedback">
 
                     <input id="exampleInputEmail1" type="email" placeholder="Enter email" autocomplete="off" required class="form-control">
                     
                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>
                  

                  
                  <div class="form-group has-feedback">
                     <input id="exampleInputPassword1" type="password" placeholder="Password" required class="form-control">
                     <span class="fa fa-lock form-control-feedback text-muted"></span> -->
                  </div>
                  
               </form>
               <p class="pt-lg text-center">
                <%= render "devise/shared/links" %>
               </p>
            </div>
         </div>
         <!-- END panel-->
         <div class="p-lg text-center">
            <span>&copy;</span>
            <span>2016</span>
            <span>-</span>
            <span>Currents</span>
            <br>
            <span>Network</span>
         </div>
      </div>
   </div>
<% end %>

<%= render "devise/shared/links" %>



<!-- 
<h2>Log in</h2>

 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->
