<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + jQuery">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>Sign In</title>
   <!-- =============== VENDOR STYLES ===============-->
   <!-- FONT AWESOME-->
   <link rel="stylesheet" href="../vendor/fontawesome/css/font-awesome.min.css">
   <!-- SIMPLE LINE ICONS-->
   <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css">
   <!-- =============== BOOTSTRAP STYLES ===============-->
   <link rel="stylesheet" href="css/bootstrap.css" id="bscss">
   <!-- =============== APP STYLES ===============-->
   <link rel="stylesheet" href="css/app.css" id="maincss">
</head>

<body>

   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   
   <div class="wrapper">
      <div class="block-center mt-xl wd-xl">
         <!-- START panel-->
         <div class="panel panel-info panel-flat">
            <div class="panel-heading text-center">
               <a href="#">
                  <img src="/assets/map_theme/tuna.png" alt="App Logo" class="block-center img-rounded" style="height: 55px">
                  <!-- img src="/assets/map_theme/tuna.png" alt="App Logo" class="img-responsive" style="height: 55px" -->
               </a>
            </div>
            <div class="panel-body">
               <p class="text-center">SIGN IN TO CONTINUE.</p>
               <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
                
               
                  <div class="form-group has-feedback">
                  <input id="exampleInputEmail1" type="email" placeholder= "Enter email" autocomplete="off" required class="form-control">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true %>
                   <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>


                  <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <button type="submit" class="btn btn-block btn-inverse mt-lg">
                    <%= f.submit "Log in" %>
                  </button>



                  <% end -%>


<!-- 
                  <div class="form-group has-feedback">
 
                     <input id="exampleInputEmail1" type="email" placeholder="Enter email" autocomplete="off" required class="form-control">
                     
                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>
                  

                  
                  <div class="form-group has-feedback">
                     <input id="exampleInputPassword1" type="password" placeholder="Password" required class="form-control">
                     <span class="fa fa-lock form-control-feedback text-muted"></span> -->
                  </div>
                  <div class="clearfix">
                     <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                           <input type="checkbox" value="" name="remember">
                           <span class="fa fa-check"></span>Remember Me</label>
                     </div>
                     <div class="pull-right"><a href="recover.html" class="text-muted">Forgot your password?</a>
                     </div>
                  </div>
                  
               </form>
               <p class="pt-lg text-center">Need to Signup?</p><a href="register.html" class="btn btn-block btn-default">Register Now</a>
            </div>
         </div>
         <!-- END panel-->
         <div class="p-lg text-center">
            <span>&copy;</span>
            <span>2016</span>
            <span>-</span>
            <span>Currents</span>
            <br>
            <span>Network</span>
         </div>
      </div>
   </div>
<% end %>

<%= render "devise/shared/links" %>




<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
