<%= provide(:title, "Account Details") %>
<h3 class="center-text">Account Details</h3>
<%= render 'shared/stripe' %>
<% if current_user.has_active_subscription? %>
  <div class="center">
    Next invoice will be generated on: <%= @upcoming_invoice.date %>
  </div>
  <div class="center"><%= link_to "Invoices", invoices_path %> | <%= link_to "Cancel My Subscription", my_account_url, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<% end %>
