<%= provide(:title, "Account Details") %>
<style>
  #card_details span {
    padding-right: 20px;
  }
</style>
<div style="text-align: center">
  <h3 style="text-align: center">Account Details</h3>
  <% if current_user.subscription_id == nil %>
    <div>You do not have active subscription</div>
  <% else %>
    <div>Subscription Status: <strong><%= @subscription.status %></strong></div>
  <% end %>
  </div>
  <%= render 'shared/stripe' %>
  <div id="invoices" style="display: block; margin-left: 20px; clear: both">
    <% @invoices.each do |invoice| %>
	    <p> ID: <%= invoice.id %></p>
	    <p> Date: <%= Date.strptime(invoice.date.to_s, '%s') %></p>
	    <p>Amount: <%= invoice.total %></p>
    <% end %>
  </div>
