<h3>Welcome to accout management</h3>
<p> Brand: <strong><%= @card.brand %></strong></P>
<p> Expirty: <strong><%= @card.exp_month %>/<%= @card.exp_year %></strong></p>
<p> Card: <strong>**** **** **** <%= @card.last4 %></strong></p>

<%= render 'shared/stripe' %>
