<style>
  #card_details span {
    padding-right: 20px;
  }
</style>
<h3 style="text-align: center">Change Account Settings</h3>
<% unless @card.nil? %>
<div id="card_details" style="text-align: center">
<p> Current Card</p>
<span> Type: <strong><%= @card.brand %></strong></span>
<span> Expirty: <strong><%= @card.exp_month %>/<%= @card.exp_year %></strong></span>
<span> Card: <strong>**** **** **** <%= @card.last4 %></strong></span>
</div>
<% end %>
<%= render 'shared/stripe' %>
