<%= provide(:title, "Account Details") %>
<style>
  #card_details span {
    padding-right: 20px;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 15px;
  }
  #invoices > table {
    margin: auto;
  }
</style>
<div style="text-align: center">
  <h3 style="text-align: center">Account Details</h3>
</div>
<%= render 'shared/stripe' %>
<div style="text-align: center; clear: both">
  <h3 style="text-align: center">Payment History</h3>
</div>
<div id="invoices" style="display: block; clear: both; text-align: center">
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Date</td>
        <td>Amount</td>
        <td>Period</td>
      </tr>
    </thead>
    <% @invoices.data.each do |invoice| %>
      <% unless (invoice.total == 0 || invoice.lines.data[0].id != current_user.subscription_id) %>
        <tr>
          <td><%= invoice.id %></td>
          <td><%= Date.strptime(invoice.date.to_s, '%s') %></td>
          <td>$<%= invoice.total/100 %></td>
          <td><%= Date.strptime(invoice.lines.data[0].period.start.to_s, '%s') %> to <%= Date.strptime(invoice.lines.data[0].period.end.to_s, '%s') %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <span><i>(If you had any previous cancelled subscription, thsoe invoices are not listed)</i></span>
  <div><%= link_to "Cancel My Subscription", my_account_url, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>
