

<div class="panel-body text-md">	
	<%= form_for @post, html: { multipart: true } do |f| %>
	<% if @post.errors.any? %>

		<div id="errors">
			<h2> 
				<%= pluralize(@post.errors.count, "error" ) %> prevented this post from saving
			</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
				<li> <%= msg %> </li>
			</ul>	
				<% end %>
		</div>	
	<% end %>
			<div class="field form-group">
				<%= f.label :image %> <br>
				<%= f.file_field :image %> 
			</div>

			<div class="field form-group">
				<%= f.label :title %> <br>
				<%= f.text_field :title, class: 'form-control'  %> 
			</div>
		

			<div class="field form-group"> 
				<%= f.label :body %> <br>
				<%= f.cktext_area :body, class: 'form-control'  %> 
			</div>



			<div class="field form-group">
				<%= f.label :youtube_id %> <br>
				<%= f.text_field :youtube_id, class: 'form-control' %> 
			</div>

			<div class="field form-group">
				<%= f.label :tag_list, "Tags (seperated by commas)" %> <br>
				<%= f.text_field :tag_list, value: f.object.tag_list.to_s, class: 'form-control' %> 
			</div>

			<div class="field form-group">
				<%= f.submit  class: "btn btn-inverse btn-md"%> <br>
			</div>	

		<% end %>
</div>	



