<% @posts.each do |post| %>
<article class="entry">
  <%= render 'posts/media', post: post %>
  <span class="entry-date"><%= post.created_at.day %><span><%= post.created_at.strftime('%b') %></span></span>
  <span class="entry-format"><i class="fa fa-file-<%= post_format post %>-o"></i></span>
  <h2 class="entry-title"><%= link_to post.title, post_path(post) %></h2>
  <div class="entry-content">
    <p><%= post.body.truncate(500).html_safe %></p>
  </div>
  <!-- End .entry-content -->
  <footer class="entry-footer clearfix">
    <span class="entry-cats">
      <span class="entry-label"><i class="fa fa-tag"></i>Categories:</span><%= post_tags(post) %>
    </span><!-- End .entry-tags -->
    <span class="entry-separator">/</span>
    <%= link_to "#{ post.comments.count } Comments", post_path(post), class: 'entry-comments' %>
    <span class="entry-separator">/</span>
    by <a href="#" class="entry-author">Eon</a>
    <%= link_to 'Read More <i class="fa fa-angle-right"></i>'.html_safe, post_path(post).html_safe, class: 'entry-readmore text-right' %>
  </footer>
</article>
<% end %>
<%= paginate @posts %>
