<% provide(:title, "Posts") %>

<%= image_tag 'harbor2.jpg',  class: 'img-responsive hidden-xs', style: 'display:block; opacity: .55' %>


<section>
	<div class="content-wrapper">	

		<% if current_admin_user %>
			<div class="row">
				<div class="nav navbar-nav">	
						<%= link_to "New Post", new_post_path, class: "btn-lg btn-oval btn-inverse" %>
				</div>
			</div>
		<% else %>	
	
		<% end %>	

		<br>
		<!-- button row -->
			<div class="row">
				<div class="col-lg-9">
					
					<!-- posts row -->
						<div class="row">
							<!-- Posts -->
								<% @posts.each do |post| %>
									<div class="panel panel-default">
										<div class="panel-body">
											<h1 class="mv-lg">
												<%= link_to post.title, post, {:style => 'color: #022FB8'} %>
											</h1>
											
											<span class="pull-left">
												<%= post.created_at.strftime(" %B %d, %Y") %>
											</span>
											<p class="bb"></p>
										</div>
										

										
										<div class="panel-body text-md">
										<% if post.youtube_id.present? %>	
								
										<span>
										<%= post.body %> 
										</span>
										<br>
										<div class="video-container">  
											<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= post.youtube_id %>" frameborder="0" allowfullscreen>
											</iframe>
											</div>



										<% else %>	
										
											<% if post.image.present? %>	

												<!-- style logic -->
												<div class="col-lg-5">
													<% if post.image.present? %>
													<%= image_tag post.image.url(:medium) %>
													<% end %>
												
													<br>
												</div>
												
												<div class="col-lg-7">
													<%= post.body %> <br>
												</div>

												<% else %>
													<%= post.body %> <br>
												<% end %>	

										<% end %>


										</div>
									
									</div>				
								
								<% end %>
						</div>

				</div>
			</div>			

			</div>
					<% flash.each do |name, msg| %>
					<% content_tag(:div, msg, class: "alert") %>
					<% end %>
			</div>


	</div>
</section>