<% provide(:title, "Posts") %>
<%= image_tag 'harbor2.jpg',  class: 'img-responsive hidden-xs', style: 'display:block; opacity: .55' %>

<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10">
      <!-- posts row -->
      <div class="row">
        <!-- Posts -->
        <% @posts.each do |post| %>
          <div class="panel panel-default">
            <%= render 'posts/media', post: post %>
            <!-- post heading -->
            <div class="panel-heading">
              <div class="bb">
                <h1 class="mv-lg">
                  <%= link_to post.title, post, {:style => 'color: #022FB8'} %>
                </h1>
                <p class="date">
                  Submitted <%= time_ago_in_words(post.created_at) %> a go
                  | <%= post.reading_time %> Minute Read
                  <%= raw "| Tags: " + post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') if post.tags.exists? %>
                  <% if current_admin_user %>
                    |  <%= link_to "Add New Post", new_post_path %>
                  <% else %>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="panel-body text-md posts-body">
              <span>
                <%= post.body.truncate(1000).html_safe %>
            
              </span>
              <%= link_to "READ MORE", post_path(post) %><br>
                Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ')%><br>  
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Aside -->
    <div class="col-lg-2 col-md-2 posts-sidebar">
      <!-- Search-->
      <div class="panel panel-default">
        <div class="panel-body">
            <strong>Search Blog Content</strong><br>
            <form class="form-horizontal">
                  <%= form_tag posts_path, :method => 'get' do %>
                  <p><%= text_field_tag  :q, params[:q]  %></p>
                  <%= submit_tag 'Search', :name => nil  %>
                  <% end %>
            </form>
        </div>
      </div>
      <!-- Categories-->
      <div class="panel panel-default">
        <div class="panel-body"><strong>Top Blog Categories</strong><br>
            <ul class="list-unstyled">
               <li>
                <% @tags.each do |tag| %>
                <li><%= link_to tag.name, tag_path(tag.name) %></li>
                <% end %>
               </li>
            </ul>
        </div>
      </div>
      <!-- Tag Cloud-->
      <div class="panel panel-default">
        <div class="panel-body posts-categories"><strong>Categories</strong><br>
          <div id='tag_cloud'>
              <% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class| %>
                <%= link_to tag.name, tag_path(tag.name), class: css_class %>
              <% end %>
          </div>
        </div>  
      </div>
    </div>
    
    </div>
  </div>

<div>
  <% flash.each do |name, msg| %>
    <% content_tag(:div, msg, class: "alert") %>
  <% end %>
</div>
