<div id="content" role="main"></div>
  <div class="page-header parallax dark half-largest larger-desc" data-bgattach="<%= image_path('boss/backgrounds/index35/bg1.jpg') %>" data-0="background-position:50% 0px;" data-500="background-position:50% -100%">

    <!-- blog header -->
  <div class="page-header larger larger-desc">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title-border custom" style="font-size: 45px;">Blog</h1>
          <p class="page-header-desc">Current trends and topics for dicussion</p>
        </div>
        <!-- search widget  -->
        <div class="col-md-6">
          <div class="widget">
            <div class="panel-body pull-right">
                <label class"input-desc">Search Blog Content</label><br>
                <form class="form-horizontal">
                      <%= form_tag posts_path, :method => 'get' do %>
                      <%= text_field_tag  :q, params[:q], class:"form-control" %>
                      <%= submit_tag 'Search', :name => nil, class: "btn btn-default"  %>
                      <% end %>

                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end blog header -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render 'index' %>
      </div>

        <% if current_admin_user %>
        <%= link_to 'New Blog Post', new_post_path, class: "btn btn-dark btn-sm" %>
        <% end %>
    </div>
    <div class="mb20"></div>
  </div> <!-- end container -->

</div>

