<div id="page_wrapper">
	<h1>New Post</h1>

	<%= form_for :post, url: posts_path do |f| %>
		<% if @posts.errors.any? %>
		<div id="errors">
			<h2> <%= pluralize(@post.errors.count, "error" ) %> prevented this post from saving</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li> <%= msg %> </li>
				<% end %>

		</div>	
		<% end %>
		<p>
		<%= f.label :title %> <br>
		<%= f.text_field :title %> <br>
		</p>

		<p>
		<%= f.label :body %> <br>
		<%= f.text_area :body %> <br>
		</p>

		<p>
		<%= f.submit %> <br>
		</p>

	<% end %>
</div>




<div class="content-wrapper">
<div class="row">
<!-- Blog Content-->
<div class="col-lg-9">
  <div class="panel panel-default">
     <div class="panel-heading">
        <div class="bb">
           <h2 class="text-lg">Maecenas rutrum fringilla vehicula.</h2>
           <p class="clearfix">
              <span class="pull-left">
                 <small class="mr-sm">By <a href="">Erica Castro</a>
                 </small>
                 <small class="mr-sm">May 03, 2015</small>
                 <small>
                    <strong>56</strong>
                    <span>Comments</span>
                 </small>
              </span>
           </p>
        </div>
     </div>
     <div class="panel-body text-md">
        <p>Praesent bibendum eros urna, in mattis est. Curabitur a purus urna, sit amet auctor erat. Praesent pellentesque augue eu tellus facilisis pretium. Aenean sollicitudin facilisis tortor eu mollis. Vivamus feugiat faucibus enim. Sed
           ut semper leo. Etiam feugiat risus massa. Nunc et magna in metus pharetra ultricies ac sit amet justo. Donec eu dolor sem, non auctor sapien. Suspendisse nisl nulla, interdum at fermentum eget, adipiscing in elit.</p>
        <p>Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Praesent blandit venenatis mauris ac cursus. Nulla commodo interdum magna consectetur lacinia. Maecenas vitae adipiscing mauris. Nam sodales sollicitudin adipiscing.</p>
        <br>
        <div class="row">
           <div class="col-xs-3">
              <a href="">
                 <img src="img/bg4.jpg" class="img-responsive">
              </a>
           </div>
           <div class="col-xs-3">
              <a href="">
                 <img src="img/bg5.jpg" class="img-responsive">
              </a>
           </div>
           <div class="col-xs-3">
              <a href="">
                 <img src="img/bg7.jpg" class="img-responsive">
              </a>
           </div>
           <div class="col-xs-3">
              <a href="">
                 <img src="img/bg8.jpg" class="img-responsive">
              </a>
           </div>
        </div>
        <br>
        <p>Praesent tristique dui eu nunc fringilla et iaculis magna ornare. Proin sed erat sit amet metus rhoncus tincidunt. Vivamus commodo, tortor ut interdum posuere, urna risus aliquet purus, eu fringilla dui neque quis nisi. Proin posuere
           gravida ipsum, a pretium augue commodo eget. In id elit nulla. Donec nec magna a diam eleifend facilisis non in urna. Nam enim libero, lacinia a tristique a, accumsan sed purus. Phasellus ullamcorper rhoncus sagittis.</p>
        <p>Sed eu rhoncus magna. Morbi non dui elementum nisl ultrices tincidunt. Nullam sagittis hendrerit erat, sit amet gravida ante tristique non. Nam arcu quam, aliquet eget varius sed, placerat et elit. Morbi nec luctus eros. Cras rutrum
           scelerisque auctor. Praesent malesuada erat ut tellus egestas sagittis. Etiam feugiat risus massa. Aliquam eget turpis eget dui eleifend suscipit ac sed dolor. Sed accumsan adipiscing enim. Sed auctor dignissim fringilla. Sed
           id turpis tellus. Nam vel tristique dolor. Ut scelerisque ligula tellus. Duis accumsan, est vel convallis dignissim, est massa pharetra ipsum, eu auctor nunc mi ac libero. Integer fermentum molestie massa at congue. Vestibulum
           congue tempus odio ac posuere. Integer lorem metus, rutrum non rhoncus sed, fringilla interdum urna.</p>
        <hr>
        <div role="group" aria-label="..." class="btn-group">
           <button type="button" class="btn btn-default">
              <em class="fa fa-facebook text-muted"></em>
           </button>
           <button type="button" class="btn btn-default">
              <em class="fa fa-twitter text-muted"></em>
           </button>
           <button type="button" class="btn btn-default">
              <em class="fa fa-google-plus text-muted"></em>
           </button>
           <button type="button" class="btn btn-default">
              <em class="fa fa-tumblr text-muted"></em>
           </button>
           <button type="button" class="btn btn-default">
              <em class="fa fa-pinterest text-muted"></em>
           </button>
           <button type="button" class="btn btn-default">
              <em class="fa fa-share-alt text-muted"></em>
           </button>
        </div>
     </div>
  </div>