<%= content_for(:title, @post.title) %>
<section>
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-10">
        <div class="panel panel-default">
          <!-- post heading -->
          <div class="panel-heading">
            <div class="bb">
              <h2 style= "color: #022FB8">
                <%= @post.title %>
              </h2>
              <p class="date">
                Submitted <%= time_ago_in_words(@post.created_at) %> a go
                | <%= @post.reading_time %> Minute Read
                <% if current_admin_user %>
                | <%= link_to 'Edit', edit_post_path(@post) %>
                | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'} %>
                <%= raw "| Tags: " + @post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') if @post.tags.exists? %>
                <% end %>
              </p>
            </div>
          </div>
          <!-- Post body	 -->
          <div class="panel-body text-md posts-body" >
            <%= @post.body.html_safe %>
          </br>
          <% if @post.youtube_id.present? %>
            <!-- video wrapper -->
            <div class="video-container">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @post.youtube_id %>" frameborder="0" allowfullscreen>
              </iframe>
            </div>
          <% else  %>
            <br>
            <% if @post.image.present? %>
              <%= image_tag @post.image, class: 'img-responsive' %>
            <% else %>
            <% end %>
          <% end %>
        </div>
        <!-- Post footer author and comment count -->
        <div class="panel-body text-sm">
          <span class="pull-left">
            <small class="mr-sm">By <a href="">AJ Costa</a></small>
            <small class="mr-sm"><%= @post.created_at.strftime(" %B, %d, %Y") %></small>
            <small> | <strong><%= @post.comments.count %></strong><span>  comments</span>   |</small>
            <%= link_to "Back to posts", posts_path %>
             <%= raw "| Tags: " + @post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') if @post.tags.exists? %>
          </span>
          <span class="pull-right"><%= social_share_button_tag(@post.title, :url => post_url(@post), desc: @post.title) %>
          </span>
        </div>
        <!-- comment break -->
        <p class="bb"></p>
        <!-- Post comments and form -->
        <div class="panel-body">
          <%= render @post.comments %>
          <%= render 'comments/form' %>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
</section>
