<% provide(:title, "Home") %>
    <%= image_tag 'Homepage3.png',  class: 'img-responsive hidden-xs homepage-header-image', style: 'display:block; opacity: .85' %>
        <!-- title container -->

      <div class="padding">  
        <div class="p-lg text-center">
            <div><h1 class="tk-blackoak-std">Currents Fishing Network</h1><br></div>
            <div class="home-subtitle"><h2 class="helvetica">Your source for real time intel from on the water.</h2></div>
        </div>
      </div>
        <!-- Features -->
        <div class="row">
            <div class="container-fluid">
                <!-- heatmaps container -->
                <div class="col-lg-4">
                    <a href="maps" class="list-group-item">
                        <div class="panel-heading">
                            <div class="row vertical-align">
                                <div class="col-lg-4 col-xs-4">
                                    <%= image_tag 'mapcopy.png', class: 'img-responsive usp-icon', style: 'display:block' %>
                                        <!-- <div class="panel-body text-center bg-yellow-light"> -->
                                </div>
                                <div class="col-lg-8 col-xs-8">
                                    <h2 class="usp-heading">Heatmaps</h2>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>View newtork catch reports to target where the fish are.</strong>
                            </p>
                            <ul>
                                <li>Review catch data over past 7 days</li>
                                <li>View catches by lcoation</li>
                                <li>Target specific species by location</li>
                                <li>Heatmap highlights where the bite is</li>
                                <li>Analyze catch patterns to make informaed decisions</li>
                                <li>Reduce fuel expenses by targeting where the action is</li>
                            </ul>
                        </div>
                    </a>
                </div>
                <!-- reports container  -->
                <div class="col-lg-4">
                    <a href="reports" class="list-group-item">
                        <div class="panel-heading">
                            <div class="row vertical-align">
                                <div class="col-lg-4 col-xs-4">
                                    <%= image_tag 'hook.png', class: 'img-responsive usp-icon', style: 'display:block' %>
                                </div>
                                <div class="col-lg-8 col-xs-8">
                                    <h2 class="usp-heading">Catch Reports</h2>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>Log private catch reports to analyze historical trends.</strong>
                            </p>
                            <ul>
                                <li>View past reports to see what works when</li>
                                <li>Custom reporting options </li>
                                <li>Moon / Tide phases </li>
                                <li>Weather conditions</li>
                                <li>Monthly trends</li>
                                <li>What bait was working</li>  
                            </ul>
                        </div>
                    </a>
                </div>
                <!-- Intel container -->
                <div class="col-lg-4">
                    <a href="buzzs" class="list-group-item">
                        <div class="panel-heading vertical-align">
                            <div class="row vertical-align">
                                <div class="col-lg-4 col-xs-4">
                                    <%= image_tag 'binocs.png', class: 'img-responsive usp-icon', style: 'display:block' %>
                                </div>
                                <div class="col-lg-8 col-xs-8">
                                    <h2 class="usp-heading">Real Time Intel</h2>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>No hear say or dock rumors, get real time intel from on the water!</strong>
                            </p>
                            <ul>
                                <li>Real time observations from newtork users</li>
                                <li>Build a network of local fisherman</li>
                                <li>Expand outside of your local harbor or marina</li>
                                <li>Like having second set of eyes on water</li>
                                <br>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <!-- hot spot of week row -->
        <% unless @hotspot.nil? %>
          <div class="row" style="padding: 20px">
            <div class="col-lg-3"></div> 
            
            <div class="col-lg-6">
              <div class="text-center">
                <div class="helvetica">      
                    Hot Spot of the Week
                </div>
                <div class="h4">      
                  <%= @hotspot.commentary %>
                </div>
              </div>            
              <%= image_tag @hotspot.image,  class: 'img-responsive', style: 'display:block; opacity: .95' %>
            </div>   
            
            <div class="col-lg-3"></div>
          </div>
      <% end %>
        
        <br>        

        <!-- explainer video row -->
        

        <div class="row">
          <div class="col-lg-3"></div> 
          <div class="col-lg-6">
            <div class="text-center">
              <div class="helvetica">      
                  Currents Explained
              </div>
                <div class="video-container"> 
                  <iframe src="https://www.youtube.com/embed/a6asyqPILbI" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>   
          </div>   
          <div class="col-lg-3"></div>
        </div>


        <!-- join network button -->
        
                <br>
            <div class="p-lg text-center">
              <% unless current_user.present? %>
                <%= link_to "Join Network", new_user_registration_path, class: 'btn btn-info btn-lg' %>
              <% end %>
            </div>





