<title>Currents</title>
<style>
  .alert-error {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: center;
      font-size: 25px !important;
      padding: 0px !important;
      margin-bottom: 0px !important;
      border-radius: 2px 2px 0 0;
   }

  .alert-alert {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: center;
      font-size: 25px !important;
      padding: 0px !important;
      margin-bottom: 0px !important;
      border-radius: 2px 2px 0 0;
   }

  .alert-success {
      background-color: #88888F;
      border-color: #5F5E63;
      color: #FFFFFF;
      text-align: center;
      font-size: 25px !important;
      padding: 0px !important;
      margin-bottom: 0px !important;
      border-radius: 2px 2px 0 0;
   }

  .alert-notice {
      background-color: #88888F;
      border-color: #5F5E63;
      color: #FFFFFF;
      text-align: center;
      font-size: 25px !important;
      padding: 0px !important;
      margin-bottom: 0px !important;
      border-radius: 2px 2px 0 0;
   }
/*   .container {
      width: auto;
      padding: 0px;
   }*/
   .panel-body {
    border-top: 5px solid !important;
    height: 205px;
   }
    .panel-heading {
    height: 100px;
   }
   .list-group-item {
    border: 5px solid #e4eaec;

   }
   /* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-left: 0px !important;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url('assets/div1.jpg');
}
section.module.parallax-2 {
  background-image: url('assets/div2.jpg');
}
section.module.parallax-3 {
  background-image: url('assets/div3.jpg');
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
</style>

<%#= image_tag 'Homepage3.png',  class: 'img-responsive', style: 'display:block; opacity: .85', id: "bg" %>
  
<section class="module parallax parallax-1">
  <div class="container">
    <h1>Currents Fishing Network</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Rise</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Calm</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>

  <!-- title container -->
<!-- <div class="scroll">
  <div class="p-lg text-center">
    <div class="container container-md">
      <div class="plan">
        <h1 class="plan-header">Currents Fishing Network</h1>
          <div class="panel-body">
            <p class="lead">
              <h3>Benefit from the worlds premier fishing network to find <em>where the fish are</em>.  Make informed decisions before leaving the dock.</h3>
            </p>
            <div class="text-lg">
              <em>Fish Smarter</em>
            </div>
          </div>            
      </div>
    </div>
  </div>            
</div> -->

<!-- join network button -->
<div class="p-lg text-center">
<%= link_to "Join Network", new_user_registration_path, class: 'btn btn-info btn-lg' %>
</div>



<div class="scrollme">
  <div
        class="animateme"
        data-when="enter"
        data-from="0.5"
        data-to="0"
        data-opacity="0"
        data-translatex="0"
        data-scale="1.5"
    >

<!-- Features -->
    <div class="row">
      <div class="container-fluid">
        
        <!-- heatmaps container -->
        <div class="col-lg-4">
          <a href="maps" class="list-group-item">
            <div class="panel-heading">      
              <div class="row">
                <div class="col-lg-4">  
                  <%= image_tag 'mapcopy.png', class: 'img-responsive', style: 'display:block' %> 
                        <!-- <div class="panel-body text-center bg-yellow-light"> -->
                </div>
                <div class="col-lg-8">
                  <h2>Heatmaps</h2>
                </div>
              </div>
            </div>
            <div class="panel-body">  
                <p>
                  <strong>View newtork catch reports to target where the fish are.</strong>
                </p>
                <ul>
                <li>Review catch data over past 7 days</li>
                <li>View catches by lcoation</li>
                <li>Target specific species by location</li>
                <li>Heatmap highlights where the bite is</li>
                <li>Analyze catch patterns to make informaed decisions</li>
                <li>Reduce fuel expenses by targeting where the action is</li>
                </ul>
            </div>
          </a>
        </div>

        <!-- reports container  -->
        <div class="col-lg-4">
          <a href="reports" class="list-group-item">
            <div class="panel-heading">      
              <div class="row">
                <div class="col-lg-4">  
                  <%= image_tag 'hook.png', class: 'img-responsive', style: 'display:block' %> 
                  </div>
                <div class="col-lg-8">
                    <h2>Catch Reports</h2>
                </div>
              </div>
            </div>
            <div class="panel-body">  
              <p>
                <strong>Log private catch reports to analyze historical trends.</strong>
              </p>
              <ul>
                 <li>View past reports to see what works when</li>
                 <li>Custom reporting options </li>
                 <li>Moon / Tide phases </li>
                 <li>Weather conditions</li>
                 <li>Monthly trends</li>
                 <li>What bait was working</li> 
                 <li>Hot Spots</li>
              </ul>
            </div>
          </a>
        </div>

        <!-- Intel container -->
        <div class="col-lg-4">
          <a href="buzzs" class="list-group-item">
            <div class="panel-heading">      
              <div class="row">
                <div class="col-lg-4">  
                  <%= image_tag 'binocs.png', class: 'img-responsive', style: 'display:block' %>          
                  </div>
                  <div class="col-lg-8">
                    <h2>Real Time Intel</h2>
                  </div>
                </div>
            </div>
            <div class="panel-body">  
              <p>
                <strong>No hear say or dock rumors, get real time intel from on the water!</strong>
              </p>
              <ul>
                <li>Real time observations from newtork users</li>
                <li>Build a network of local fisherman</li>
                <li>Expand outside of your local harbor or marina</li>
                <li>Like having second set of eyes on water</li>
            </div>
          </a>
        </div>
      </div>  
    </div>      


  </div>
</div>
<!-- how it works section -->
<div class="row bg-gray-lighter">
    <div class="container">
      <!-- <a href="maps"> -->
        <%= image_tag 'how_It_works_trns.png',  class: 'img-responsive', style: 'display:block; opacity: .80' %>
    </div>
      <!-- </a> -->
    <div class="p-lg text-center">
        <%= link_to "View Network Rules", rules_path, class: 'btn btn-inverse btn-lg ' %>
    </div>
</div>


<!-- Buzz snapsot not utilizing now -->

<!--   <div class="row bg-gray-lighter">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="panel b m0">
        <div class="panel-body">
          <div class="panel-body bg-info text-center">
            <h1>Recent Buzz</h1>
          </div>        
          <div <div class="table-responsive">               
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Post</th>
                  <th>Vessel</th>
                  <th>Port</th>
                </tr>
              </thead>
              <tbody>  
                <% @buzzs.each do |buzz| %>
                <tr>

                  <td class="wd-td1"><%= buzz.post %></td>
                  <td><%= buzz.user.try(:vessel_name) %></td>
                  <td><%= buzz.user.try(:home_port) %></td>
                </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>  
      </div> 
    </div> 
    <div class="col-lg-3"></div>
  </div> -->


<!-- end buzz snapshot  -->