<title>Currents</title>
     
<!-- <img src="/assets/Homepage3.png" alt="CC Bay" class="img-responsive" style="display:block; opacity: .85"> -->

<%= image_tag 'Homepage3.png',  class: 'img-responsive', style: 'display:block; opacity: .85' %>
  

  <!-- title container -->
  <div class="p-lg text-center">
    <div class="container container-md">
      <div class="plan">
        <h1 class="plan-header">Currents Fishing Network</h1>
          <div class="panel-body">
            <p class="lead">
              <h3>Benefit from the worlds premier fishing network to find <em>where the fish are</em>.  Make informed decisions before leaving the dock.</h3>
            </p>
            <div class="text-lg">
              <em>Fish Smarter</em>
            </div>
          </div>            
      </div>
    </div>
  </div>            


<!-- join network button -->
<div class="p-lg text-center">
<%= link_to "Join Network", new_user_registration_path, class: 'btn btn-info' %>
</div>


<!-- features containers -->
<div class="container-fluid">
  <!-- <div class="panel b"> -->
  <!-- <div class="row"> -->


    <!-- heatmaps container -->
    <div class="col-lg-4">
      <div id="tour-step-1" data-placement="left" class="panel tour-step">
        <div class="panel-heading">      
          <div class="list-group">
            <a href="maps" class="list-group-item"> 
              <div class="panel-body text-center bg-yellow-light">
                <h3 class="mv-lg">
                  <span class="text-md">
                  Heatmaps
                  </span>
                </h3>
              </div>
              <!-- body -->
          	   <br>
              <p>
               	Every trip is a commitment in time and expesnses. The investment of boat cost, fishing gear, fuel, and bait you want to minimize time wasted running around trying to find fish.  Tap into the newtork to see where fish are being caught so you are armed with infomration before you leave the dock!  Real time catch data heatmaps display what areas are producing.
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- reports container  -->
  

    <div class="col-lg-4">
      <div id="tour-step-2" data-placement="left" class="panel tour-step">
        <div class="panel-heading">
          <div class="list-group">
            <a href="reports" class="list-group-item">
              <div class="panel-body text-center bg-yellow-light">
                <h3 class="mv-lg">
                  <span class="text-md">
                    Catch Reports
                  </span>
                </h3>
              </div>
              <!-- body -->
              <br>     
              <p>
              Log your catch reports to analyze trends.  Your catch reports are private and are not shared with the network. <br>
              <br>View past trip reports to see what worked and when, Moon, tide, baits, and time of year.
              
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>


    <!-- Intel container -->
    <div class="col-lg-4">
      <div id="tour-step-3" data-placement="left" class="panel tour-step">
        <div class="panel-heading">
          <div class="list-group">
            <a href="buzzs" class="list-group-item">          
              <div class="panel-body text-center bg-yellow-light">
                <h3 class="mv-lg">
                  <span class="text-md">
                  Real Time Intel
                  </span>
                </h3>
              </div>
              <!-- body -->
              <br>
              <p>
               Currents loves to talk to clients before, during and after their trips.  Currents tries to update their “catch reports” on a weekly basis and will only report first hand information.  No hear-say or dock rumors here!  Please click below to view the most recent catch reports on our website now!
              </p>
              </a>
          </div>
        </div>
      </div>    
    </div>
</div>     

<!-- Buzz snapsot -->

      <div class="row">
        <div class="col-lg-3"></div>
        
        <div class="col-lg-6">
          <div class="panel b m0">
            <div class="panel-body">
              <div class="panel-body bg-info text-center">
                <h1>Recent Buzz</h1>
              </div>        
              <div <div class="table-responsive">               
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Post</th>
                        <th>Vessel</th>
                        <th>Port</th>
                      </tr>
                    </thead>
                      <tbody>  
                        <% @buzzs.each do |buzz| %>
                        <tr>

                          <td class="wd-td1"><%= buzz.post %></td>
                          <td><%= buzz.user.try(:vessel_name) %></td>
                          <td><%= buzz.user.try(:home_port) %></td>
                        </tr>
                          <% end %>
                    </tbody>
                  </table>
              </div>
            </div>  
          </div> 
        </div> 

        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>

  <!-- end buzz snapshot  -->