<div class="panel-body">

<%= form_for(@report) do |f| %>
<% if @report.errors.any? %>
    
  <div id="error_explanation">
    <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>

<% end %>



  <div class="form-group">
    <label class"form-class">
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </label>
  </div>
  <div class="form-group">
    <%= f.label :target_species %><br>
    <%= f.select :target_species, ['Bluefish', 'Cod & Haddock', 'Flounder', 'Striped Bass', 'Sharks', 'Tuna', 'Mackeral, Pogies, Herring'] %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.select :location_id, Location.all.order("short_name ASC").pluck(:short_name, :id) %>
  </div>
  <div class="form-group">
    <%= f.label :catch_keepers %><br>
    <%= f.number_field :catch_keepers %>
  </div>
  
  <div class="field">
    <%= f.label :catch_total %><br>
    <%= f.number_field :catch_total %>
  </div>
  <div class="field">
    <%= f.label :trip_summary %><br>
    <%= f.text_area :trip_summary %>
  </div>
  <div class="field">
    <%= f.label :primary_method %><br>
    <%= f.select :primary_method, ['Live Bait', 'Dead Bait', 'Kite', 'Jigging', 'Popping', 'Trolling'] %>
  </div>
  <div class="field">
    <%= f.label :tide %><br>
    <%= f.select :tide, ['Incoming', 'Outgoing', 'Slack'] %>
  </div>
  <div class="field">
    <%= f.label :weather %><br>
    <%= f.select :weather, ['Overcast', 'Rain', 'Sun'] %>
  </div>
  <div class="field">
    <%= f.label :wind %><br>
    <%= f.select :wind, ['W < 10 mph', 'W 10-20 mph', 'W > 20 mph', 'NW < 10 mph', 'NW 10-20 mph', 'NW > 20 mph','N < 10 mph', 'N 10-20 mph', 'N > 20 mph','NE < 10 mph', 'NE 10-20 mph', 'NE > 20 mph','E < 10 mph', 'E 10-20 mph', 'E > 20 mph', 'SE < 10 mph', 'SE 10-20 mph', 'SE > 20 mph','S < 10 mph', 'S 10-20 mph', 'S > 20 mph','SW < 10 mph', 'SW 10-20 mph', 'SW > 20 mph'] %>
  </div>
  <div class="field">
    <%= f.label :spot %><br>
    <%= f.text_area :spot %>
  </div>

  <div class="field">
    <%= f.label :best_bait %><br>
    <%= f.text_area :best_bait %>
  </div>
  <div class="field">
    <%= f.label :trip_description %><br>
    <%= f.text_area :trip_description %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

</div>
