<style>
.form-group-new {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.52857143;
    color: #3a3f51;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dde6e9;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select#report_location_id {
    width: 100%;
}
</style>



  <%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    
  <div id="error_explanation">
    <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
      <ul>
        <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
  </div>

  <% end %>

<div class="title-css-bodyt"> 
  <div class="h4-color">
    <b><u><h4>Public</h4></u></b>
    <p class="small">Report fields are visible by the network and used for heatmaps</p>
  </div>
    <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
    </div>
    <div class="form-group">
      <%= f.label :target_species %><br>
      <%= f.select :target_species, ['Bluefish', 'Cod & Haddock', 'Flounder', 'Striped Bass', 'Sharks', 'Tuna', 'Mackeral, Pogies, Herring'] %>
    </div>
    <div class="field">
      <%= f.label :location_id %><br>
      <%= f.select :location_id, Location.all.order("short_name ASC").pluck(:short_name, :id) %>
    </div>
    <br>
    <div class="field">
      <%= f.label :catch_keepers %> (Required)<br>
      <%= f.number_field :catch_keepers %>
    </div>

    <div class="field">
      <%= f.label :catch_total %><br>
      <%= f.number_field :catch_total %>
    </div>
    <div class="field">
      <%= f.label :trip_summary %><br>
      <%= f.text_area :trip_summary %>
    </div>
</div>

<div class="title-css-bodyb">
  <div class="h4-color">
    <b><u><h4>Private</h4></u></b>
    <p class="small">Report fields are for your use only.  Use to detail catch information like bait, tide, or location numbers</p>
  </div>


  <div class="field">
    <%= f.label :primary_method %><br>
    <%= f.select :primary_method, ['Live Bait', 'Dead Bait', 'Kite', 'Jigging', 'Popping', 'Trolling'] %>
  </div>
  <div class="field">
    <%= f.label :tide %><br>
    <%= f.select :tide, ['Incoming', 'Outgoing', 'Slack'] %>
  </div>
  <div class="field">
    <%= f.label :weather %><br>
    <%= f.select :weather, ['Overcast', 'Rain', 'Sun'] %>
  </div>
  <div class="field">
    <%= f.label :wind %><br>
    <%= f.select :wind, ['W < 10 mph', 'W 10-20 mph', 'W > 20 mph', 'NW < 10 mph', 'NW 10-20 mph', 'NW > 20 mph','N < 10 mph', 'N 10-20 mph', 'N > 20 mph','NE < 10 mph', 'NE 10-20 mph', 'NE > 20 mph','E < 10 mph', 'E 10-20 mph', 'E > 20 mph', 'SE < 10 mph', 'SE 10-20 mph', 'SE > 20 mph','S < 10 mph', 'S 10-20 mph', 'S > 20 mph','SW < 10 mph', 'SW 10-20 mph', 'SW > 20 mph'] %>
  </div>
  <div class="field">
    <%= f.label :spot %><br>
    <%= f.text_area :spot %>
  </div>

  <div class="field">
    <%= f.label :best_bait %><br>
    <%= f.text_area :best_bait %>
  </div>
  <div class="field">
    <%= f.label :trip_description %><br>
    <%= f.text_area :trip_description %>
  </div>
  <div class"center">
    <%= f.submit class: "btn btn-inverse btn-md"%>
  </div>
  <%= link_to 'Back', reports_path, class: "btn btn-default bg-gray" %>
</div>

<% end %>



