<title>Reports</title>

<p id="notice"><%= notice %></p>



<h3>Report Filters</h3>

<table>
  <thead> 
    <tr>
      <th>Species</th>
      <th>Location</th>
      <th>Tide</th>
      <th>Month</th>
    </tr>
  </thead>  


  <tbody>
   <tr> 
    <td>
    <form action="/filter" id="filter_form" >
      <select id="target_species" name="target_species">
        <option value=""></option>
        <% @reports.all.each do |report| %>
        <option value="<%= report.target_species %>" <%= selected_target_species(report) %>><%= report.target_species %></option>
          <% end %>
      </select>
     </td>     
       
     <td> 
      <select id="location" name="location">
       <option value=""></option>
          <% Location.all.each do |location| %>
        <option value="<%= location.id %>" <%= selected_locations(location) %>><%= location.short_name %></option>
        <% end %>
      </select>
     </td> 
     <td> 
      <select id="tide" name="tide">
       <option value=""></option>
          <% @reports.each do |report| %>
        <option value="<%= report.tide %>" <%= selected_tide(report) %>><%= report.tide %></option>
        <% end %>
      </select>
     </td> 
    <td> 
      <select id="month" name="month">
       <option value="June">June</option>
       <option value="July">July</option>
       <option value="August">August</option> 
      </select>
     </td>  



    </form>
    </tr>
  </tbody>
</table>


<script>
  $('#target_species').change(function(){
    $('#filter_form').submit();
  });
  $('#location').change(function() {
    $('#filter_form').submit();
  });
   $('#tide').change(function() {
    $('#filter_form').submit();
  });
    $('#month').change(function() {
    $('#filter_form').submit();
  });


</script>


    <button>
    <%= link_to 'Clear Filter', reports_path %>
    </button>


    <h1> 
      <%= current_user.vessel_name %> Catch Reports 
    </h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Port</th>
      <th>Target species</th>
      <th>Location</th>
      <th>Catch keepers</th>
      <th>Catch total</th>
      <th>Trip summary</th>
      <th>Primary method</th>
      <th>Tide</th>
      <th>Weather</th>
      <th>Wind</th>
      <th>Spot</th>
      <th>Best bait</th>
      <th>Trip description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user %>

    <% @reports.each do |report| %>
      <tr>
        <td><%= report.date %></td>
        <td><%= report.user.try(:vessel_name) %></td>
        <td><%= report.user.try(:home_port) %></td>
        <td><%= report.target_species %></td>
        <td><%= report.location.try(:short_name) %></td>
        <td><%= report.catch_keepers %></td>
        <td><%= report.catch_total %></td>
        <td><%= report.trip_summary %></td>
        <td><%= report.primary_method %></td>
        <td><%= report.tide %></td>
        <td><%= report.weather %></td>
        <td><%= report.wind %></td>
        <td><%= report.spot %></td>
        <td><%= report.best_bait %></td>
        <td><%= report.trip_description %></td>
        <td><%= link_to 'View Details', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Delete', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button>
<%= link_to 'New Catch Report', new_report_path %>

<% end %>
</button>




