<title>Reports</title>

<p id="notice"><%= notice %></p>



<h1> <%= current_user.vessel_name %> Catch Reports </h1>



<form action="/filter" id="filter_form" >
  <p>Species</p1>
  <select id="target_species" name="target_species">
    <option value="Bluefish" <%= selected_target_species('Bluefish') %>>Bluefish</option>
    <option value="Flounder" <%= selected_target_species('Flounder') %>>Flounder</option>             
    <option value="Cod &amp; Haddock" <%= selected_target_species('Cod & Haddock') %>>Cod & Haddock</option>
    <option value="Striped Bass" <%= selected_target_species('Striped Bass') %>>Striped Bass</option>
    <option value="Tuna" <%= selected_target_species('Tuna') %>>Tuna</option>
  </select>

  <select id="location" name="selected_location">
    <option value="SWN - Northwest Corner" <%= selected_locations('SWN - Northwest Corner') %>>Stellwagen NW Corner</option>
    <option value=" SWM - Middlebank" <%= selected_locations('  SWM - Middlebank') %>>Stellwagen Middlebank</option>             
    <option value="SWE - Southeast Corner" <%= selected_locations('SWE - Southeast Corner') %>>Stellwagen SE Corner</option>
    <option value="SWW - Southwest Corner" <%= selected_locations('SWW - Southwest Corner') %>>Stellwagen SW Corner</option>
    <option value="BCK - Backside" <%= selected_locations('BCK - Backside') %>>Backside CC</option>
    <option value="PH - Peaked Hill" <%= selected_locations('PH - Peaked Hill') %>>Peaked Hill</option>
  </select>
</form>




<script>
  $('#target_species').change(function(){
    $('#filter_form').submit();
  });
</script>





</br>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Port</th>
      <th>Target species</th>
      <th>Location</th>
      <th>Catch keepers</th>
      <th>Catch total</th>
      <th>Trip summary</th>
      <th>Primary method</th>
      <th>Tide</th>
      <th>Weather</th>
      <th>Wind</th>
      <th>Spot</th>
      <th>Best bait</th>
      <th>Trip description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user %>

    <% @reports.each do |report| %>
      <tr>
        <td><%= report.date %></td>
        <td><%= report.user.try(:vessel_name) %></td>
        <td><%= report.user.try(:home_port) %></td>
        <td><%= report.target_species %></td>
        <td><%= report.location.try(:short_name) %></td>
        <td><%= report.catch_keepers %></td>
        <td><%= report.catch_total %></td>
        <td><%= report.trip_summary %></td>
        <td><%= report.primary_method %></td>
        <td><%= report.tide %></td>
        <td><%= report.weather %></td>
        <td><%= report.wind %></td>
        <td><%= report.spot %></td>
        <td><%= report.best_bait %></td>
        <td><%= report.trip_description %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button>
<%= link_to 'New Catch Report', new_report_path %>

<% end %>
</button>





