<head>
    
  <script type="application/ld+json">
  <%= display_meta_tags  %>
  </script>
</head>
<div id="content" role="main"></div>
<div class="page-header dark parallax half-largest larger-desc" data-bgattach="<%= image_path('boss/backgrounds/index35/bg1.jpg') %>" style="" data-0="background-position:50% 0px;" data-500="background-position:50% -50%">
    
    <!-- start header -->
    <div class="row" style="padding: 10px;">
      <div class="col-md-10">
        <h1 class="title-border custom" style="font-size: 45px;"><%= current_user.vessel_name %> Catch Reports</h1>
        <p class="title-border" style="padding-left: 45px;">Log reports and analyze past trip data</p>
      
      <%= link_to 'Log New Report', new_report_path, class: "btn btn-dark btn-md", style: "text-right" %>
      </div>
    </div>

    <!-- Filter table -->
    <div class="col-sm-12">
      <h2 class="title-border dark text-right">Report Filter</h2>
      <%= link_to 'Clear Filter', reports_path %>
      <form id="filter_form" action="/reports" class="form-horizontal">
      <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Species</th>
                    <th>State</th>
                    <th>Location</th>
                    <th>Tide</th>
                    <th>Month</th>
                </tr>
            </thead>
            <tbody>
                <!-- filter select row -->
                <tr>
                    <!-- species filter select -->
                    <td> 
                      <select id="species" name="species" class="form-control m-b">
                      <option value="">Select Species</option>
                      <% @species_for_filter.each do |report| %>
                      <option value="<%= report.species_id %>" <%= selected_species(report.species_id) %>><%= report.species.name %>
                      </option>
                      <% end %>
                      </select>
                    </td>
                    <!-- state filter select -->
                    <td>
                      <select id="state" name="state" class="form-control m-b">
                        <option value="">Select State</option>
                        <% @state_for_filter.each do |state| %>
                          <option value=<%= state.name %> <%= selected_state(state.name) %>><%= state.name %></option>
                        <% end %>
                      </select>
                    </td> 
                    <!-- location filter select -->
                    <td>
                      <select id="location" name="location" class="form-control m-b">
                        <option value="">Select Location</option>
                        <% @locations_for_filter.each do |location| %>
                          <%= render_location_option_with_state(location) %>
                        <% end %>
                      </select> 
                    </td> 
                    <!-- tide filter select-->
                    <td>
                      <select id="tide" name="tide" class="form-control m-b">
                        <option value="">Select Tide</option>
                        <% @tides_for_filter.each do |tide| %>
                          <option value="<%= tide %>" <%= selected_tide(tide) %>><%= tide %>
                          </option>
                        <% end %>
                      </select>
                    </td>                       
                    <!-- month filter select -->
                    <td>
                      <%= select_month(params[:date].to_i, { :prompt => "Select Date", :user_month_name => true }, name: "date", :class => "form-control m-b", id: "date") %>
                    </td>                       
                </tr>
            </tbody>
        
        </table>
      </div>
     </form> 
    </div>
      
    <!-- start reports table -->
    <div class="col-lg-12">
            <h2 class="title-border dark text-right">Catch Log</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Target</th>
                        <th>Location</th>
                        <th>State</th>
                        <th>Keepers</th>
                        <th>Total</th>
                        <th>Trip summary</th>
                        <th>Method</th>
                        <th>Tide</th>
                        <th>Weather</th>
                        <th>Wind</th>
                        <th>Spot</th>
                        <th>Best Bait</th>
                        <th>Trip Details</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="datatable1-body">
                    
                      <% if current_user %>
                        <% @filtered_reports.each do |report| %>
                    <tr>
                        <td><%= report.date.try(:strftime, '%m/%d/%y') %></td>
                        <td><%= report.species.name %></td>
                        <td><%= report.location.try(:short_name) %></td>
                        <td><%= report.state.name %></td>
                        <td><%= report.catch_keepers %></td>
                        <td><%= report.catch_total %></td>
                        <td><%= report.trip_summary %></td>
                        <td><%= report.primary_method %></td>
                        <td><%= report.tide %></td>
                        <td><%= report.weather %></td>
                        <td><%= report.wind %></td>
                        <td><%= report.spot %></td>
                        <td><%= report.best_bait %></td>
                        <td><%= report.trip_description %></td>
                        <td class="wd-xs"><%= link_to raw('<i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>'), edit_report_path(report) %> <%= link_to raw('<i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>'), report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                       
                    </tr><% end %>
                </tbody>
            </table>
                      <!-- end of report table -->
          <div class="pagination-section">
            <%= paginate @filtered_reports %>
          </div>
        </div id="bottom_anchor">
        <!-- download table -->
        <p>
          Download Reports Table:
          <%= link_to "CSV", reports_path(format: "csv") %> |
          <%= link_to "Excel", reports_path(format: "xls") %>
        </p>
        <!-- log new button -->
        <%= link_to 'Log New Report', new_report_path, class: "btn btn-dark btn-md" %>
    </div><!-- end reports table -->

    <!-- Call in report info -->
    <!-- <div class="col-md-124">
      <div class="panel-body text-right">
        <a href="tel:+18002083817" class="link-unstyled text-danger">
        <em class="fa fa-phone fa-lg"></em>
        <span class="h4">Currents Report Hotline</span>
        <br>
        <span class="h2">1-800-208-3817</span>
        <br>
        <span class="h4">Call in your report today</span>
        </a>
      </div>
    </div> --> <!-- end call in report info -->

  <!-- filter script -->
  <script>
    $('#species').change(function(){
              $('#filter_form').submit();
            });
            $('#state').change(function(){
              $('#filter_form').submit();
            });
            $('#location').change(function(){
              $('#filter_form').submit();
            });
             $('#tide').change(function(){
              $('#filter_form').submit();
            });
              $('#date').change(function(){
              $('#filter_form').submit();
            });
  </script>
  <!-- end of filter -->

  <div class="row">
  </div>
</div>


<% end %>
