


<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region=">
</script> 
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js">
</script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'>
</script> 


<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Date</th>
      <th>Target species</th>
      <th>General location</th>
      <th>Catch keepers</th>
      <th>Catch total</th>
      <th>Trip summary</th>
      <th>Primary method</th>
      <th>Tide</th>
      <th>Weather</th>
      <th>Wind</th>
      <th>Spot</th>
      <th>Picture</th>
      <th>Best bait</th>
      <th>Trip description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.latitude %></td>
        <td><%= report.longitude %></td>
        <td><%= report.date %></td>
        <td><%= report.target_species %></td>
        <td><%= report.general_location %></td>
        <td><%= report.catch_keepers %></td>
        <td><%= report.catch_total %></td>
        <td><%= report.trip_summary %></td>
        <td><%= report.primary_method %></td>
        <td><%= report.tide %></td>
        <td><%= report.weather %></td>
        <td><%= report.wind %></td>
        <td><%= report.spot %></td>
        <td><%= report.picture %></td>
        <td><%= report.best_bait %></td>
        <td><%= report.trip_description %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>

<div style='width: 800px;'>
  <div id="multi_overlays" style='width: 1000px; height: 600px;'></div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');

    handler.buildMap({ internal: {id: 'multi_overlays'}}, function(){
      
      var circles = handler.addCircles(
        [{ lat: 41.991873, lng: -70.652213, radius: 2000 }],
        { strokeColor: '#FF0001'}
      );

        var polylines = handler.addPolylines(
          [
          [
          ]
        ],
      { strokeColor: '#FF0000'}
    );


        




        //method 2
        var spot_a = <%= Location::SPOT_A.html_safe %>;

      var polygons = handler.addPolygons(
        [
          spot_a,
          [
            {lat:  42.033668, lng: -70.674360}, 
            {lat: 42.053668, lng: -70.482698},
            {lat:  41.726516, lng:  -70.859015}, 
            {lat: 41.781544, lng:  -70.822497},
          ]

        ],

        { strokeColor: '#FF0000'}
      );

      handler.bounds.extendWith(polylines);
      handler.bounds.extendWith(polygons);
      handler.bounds.extendWith(circles);
      handler.fitMapToBounds();  

      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();


    });

</script>
