<title>Reports</title>

<p id="notice"><%= notice %></p>



<div class="content-wrapper">
  <div class="content-heading"> <%= current_user.vessel_name %> Catch Reports  
   <aside style="float:right">
 
          
          <%= link_to 'Log New Catch Report', new_report_path, class: 'btn btn-info'%>

      </aside> 
  </div>
  
 

<form action="/filter" id="filter_form" >
  <table><h5>Report Filters</h5>
    <thead> 
      <tr>
        <th><label for="target_species">Species</label></th>
        <th><label for="location">Location</label></th>
        <th><label for="tide">Tide</label></th>
        <th><label for="date">Month</label></th>
      </tr>
    </thead>  

  <aside style="float: left">
  <button class="mb-sm btn btn-info">
   Clear Filter 
  <%reports_path %>
  </button>
  <br>
</aside>

    <tbody>
      
        <tr> 
          <td>
            <select id="target_species" name="target_species">
              <option value=""></option>
              <% current_user.reports.each do |report| %>
              <option value="<%= report.target_species %>" <%= selected_target_species(report.target_species) %>><%= report.target_species %></option>
                <% end %>
            </select>
          </td>     
             
          <td> 
            <select id="location" name="location">
             <option value=""></option>
                <% Location.all.each do |location| %>
              <option value="<%= location.id %>" <%= selected_locations(location) %>><%= location.short_name %></option>
              <% end %>
            </select>
          </td> 
          <td> 
            <select id="tide" name="tide">
             <option value=""></option>
                <% @current_user.reports.each do |report| %>
              <option value="<%= report.tide %>" <%= selected_tide(report.tide) %>><%= report.tide %></option>
              <% end %>
            </select>
          </td> 
          <td> 
            <select id="date" name="date">
              <option value=""></option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>  
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option> 
              <option value="September">September</option>
              <option value="October">October</option> 
              <option value="November">November</option> 
              <option value="A" </option>
              
            </select>
          </td>  
        </tr>
      
    </tbody>
  </table>
</form>

<script>
  $('#target_species').change(function(){
    $('#filter_form').submit();
  });
  $('#location').change(function(){
    $('#filter_form').submit();
  });
   $('#tide').change(function(){
    $('#filter_form').submit();
  });
    $('#date').change(function(){
    $('#filter_form').submit();
  });
</script>




<div class="panel panel-default">
    <div class="table-responsive b0">
    <table id="datatable1" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th class="wd-md">User</th>
          <th class="wd-md">Port</th>
          <th class="wd-md">Target species</th>
          <th class="wd-md">Location</th>
          <th class="wd-md">Catch keepers</th>
          <th class="wd-md">Catch total</th>
          <th class="wd-md">Trip summary</th>
          <th class="wd-md">Primary method</th>
          <th class="wd-md">Tide</th>
          <th class="wd-md">Weather</th>
          <th class="wd-md">Wind</th>
          <th class="wd-md">Spot</th>
          <th class="wd-md">Best bait</th>
          <th class="wd-md">Trip description</th>
          
        </tr>
      </thead>

      <tbody>
        <% if current_user %>
        <% @reports.each do |report| %>
          <tr>
            <td><%= report.date %></td>
            <td><%= report.user.try(:vessel_name) %></td>
            <td><%= report.user.try(:home_port) %></td>
            <td><%= report.target_species %></td>
            <td><%= report.location.try(:short_name) %></td>
            <td><%= report.catch_keepers %></td>
            <td><%= report.catch_total %></td>
            <td><%= report.trip_summary %></td>
            <td><%= report.primary_method %></td>
            <td><%= report.tide %></td>
            <td><%= report.weather %></td>
            <td><%= report.wind %></td>
            <td><%= report.spot %></td>
            <td><%= report.best_bait %></td>
            <td><%= report.trip_description %></td>
            <td><%= link_to 'View Details', report %></td>
            <td><%= link_to 'Edit', edit_report_path(report) %></td>
            <td><%= link_to 'Delete', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
</table>
</div>
</div>
</div>


<br>

<button type="button" class="mb-sm btn btn-info">
<%= link_to 'Log New Catch Report', new_report_path %>

<% end %>
</button>




