<% provide(:title, "Log Catch Report") %>

  <div class="page-header parallax half-largest larger-desc" data-bgattach="<%= image_path('boss/backgrounds/index35/bg1.jpg') %>" style="" data-0="background-position:50% 0px;" data-500="background-position:50% -50%">
    

<section class="section" id="New Report">
  <div class="container-fluid  no-border">
      <header class="section-header container mb30">
        <div class="section-title shadow-title" data-title="<%= current_user.try(:vessel_name) %>  New Catch Report">  
        </div>
      </header>
      <!-- reports new form -->
      <div class="col-lg-6">

          <div class="form-group">
            <%= render 'reports/form' %>
          </div>
       <!-- end reports new form -->
      
      <!-- location legend aside -->
      <div class="col-sm-6 no-padding-left">
          <div class="panel panel-default", style="display: inline-block; padding: 5px">
          <div class="vertical-service-image fullscreen bg-image text-center" data-bgattach="">   
              <%= link_to "Back to Top", "#location-select", class: "mobile-only", id: "legend-link" %>
              <%= image_tag "location_legends/" + current_user.state.name + ".png",  class: 'img-responsive location-legend-image', style: 'display:block; opacity: .85', id: 'location-legend-image' %>
          </div>                 
      </div><!-- End location legend -->
  
  </div>
</section>

</div>
