<style>
.nav > li {
    display: flex;
}
</style>

<header class="topnavbar-wrapper">

  <!-- START Top Navbar-->
  <nav role="navigation" class="navbar topnavbar">
  <!-- START navbar header-->
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="brand-logo">
        <%= link_to image_tag('map_theme/tuna.png',  class: 'img-responsive site-logo', style: 'height: 46px;'), root_path %>
              <!-- <img src="/assets/map_theme/tuna.png" alt="App Logo" class="img-responsive" style="height: 55px"> -->
      </div>
      <div class="brand-logo-collapsed">
        <%= image_tag 'map_theme/tuna.png',  class: 'img-responsive', style: 'height: 46px;' %>
      </div>
    </div>
  <!-- END navbar header-->
  

    <!-- START Nav wrapper-->
    <div class="navbar-collapse collapse">
    <!-- START Left navbar-->
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Home", root_path, class: 'navbar-brand', style: "font-size: 15px" %>
        </li>
        <li>
          <%= link_to "Intel", intels_path, class: 'navbar-brand', style: "font-size: 15px" %>
        </li>
<!--         <li>
          <%#= link_to "Spotter  ", spotter_path, class: 'navbar-brand', style: "font-size: 15px" %>
        </li> -->
        <li>
          <%= link_to "Submit a Report", reports_path, class: 'navbar-brand', style: "font-size: 15px" %>
        </li>
        <li>
          <%= link_to "HeatMap", maps_path, class: 'navbar-brand', 'data-turbolinks' => false, style: "font-size: 15px" %>
        </li>
        <li>
          <%= link_to "VHF", vhf_path, class: 'navbar-brand', style: "font-size: 15px" %>
        </li>
        <li>
          <%= link_to "Blog", posts_path, class: 'navbar-brand', style: "font-size: 15px" %>
        </li>
        <li>
          <%= link_to "Spots", spots_path, class: 'navbar-brand', style: "font-size: 15px" %>
        </li>
        <li>
          <%= link_to "About", about_path, class: 'navbar-brand', style: "font-size: 15px" %>
        </li>
      </ul>
    <!-- END Left navbar-->
    <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
      <!-- Social Media Icones-->
        <li>
          <a href="tel:+18002083817">
            <span class="link-unstyled">Report Hotline 1-800-208-3817</span>
          </a>
        </li>




        <li>
         <a href="https://www.youtube.com/channel/UC2m-KyTZDGfMqss_KQ0E9Xw" target="_blank">
            <em class="icon-social-youtube"></em>
          </a>
        </li>
        <li>
           <a href="https://twitter.com/network_fishing" target="_blank">
            <em class="icon-social-twitter"></em>
           </a>
        </li>
        <li>
         <a href="https://www.facebook.com/CurrentsFishingNetwork/" target="_blank">
            <em class="icon-social-facebook"></em>
          </a>
        </li>
        <li>
         <a href="https://www.instagram.com/currentsfishingnetwork" target="_blank">
            <em class="icon-social-instagram"></em>
          </a>
        </li>
    
        
        <!-- User Link -->       
        <% if current_user %>
          <li>
              <%= link_to "My Account", edit_user_registration_path %>
          </li>
          
	  <li>
              <%#= link_to "My Account", my_account_path %>
          </li>

          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li>
          <%= link_to "Register", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign In", new_user_session_path %>
          </li>
            <% end %>
      </ul>
      <!-- END Right Navbar-->
    </div>
  </nav>
    <!-- END Top Navbar-->
</header>
