<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags  %>
    <script src="https://use.typekit.net/yzs0vln.js"></script>
    <script>
      try{Typekit.load({ async: true });}catch(e){}
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://js.stripe.com/v3/" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97111691-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-97111691-1');
    </script>
  </head>
    <title><%= full_title(yield(:title)) %>
        <% if @meta_description.present? %>
        <meta name="description" content="<%= @meta_description %>">
        <% end %>
    </title>
  <body>
    <div class="wrapper">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/subscription_alerts' %>
      <% if flash.any? %>
        <div class="container">
          <% flash.each do |key, value| %>
            <div role="alert" class="alert alert-<%=key%>">
              <%= value.html_safe %>
            </div>
          <% end %>
        </div>
      <% end unless devise_controller? %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
