<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  
</head>
<<<<<<< HEAD
<body class="layout-h">
	<div class="wrapper">
		<%= render 'layouts/navbar' %>
		<%= yield %>
	</div>


=======
<body>
	
<%= render 'layouts/navbar' %>
>>>>>>> stuff



 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
</body>
</html>
