<!DOCTYPE html>

<html>
<head>
	<script src="https://use.typekit.net/yzs0vln.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>	
	  <meta charset="utf-8">
   	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	  <!-- Document Title
	============================================= -->
	<title><%= full_title(yield(:title)) %></title>
	
</head>

<body>
	<div class="wrapper">
		<%= render 'layouts/navbar' %>
		<% if flash.any? %>
			<div class="container">
				<% flash.each do |key, value| %>
					<div class="alert alert-<%=key%>">
						<%= value %>
					</div>
				<% end %>
			</div>
		<% end unless devise_controller? %>
		<%= yield %>
	</div>



</body>
</html>
